{% extends "base.html" %}
{% block styles %}
    {{super()}}
    <link href="https://cdn.datatables.net/v/dt/dt-2.1.6/datatables.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/allocationTable.css') }}?u={{ lastStaticUpdate }}">
{% endblock %}

{% block scripts %}
    {{super()}}
    <script src="https://cdn.datatables.net/v/dt/dt-2.1.6/datatables.min.js"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/allocationTable.js') }}?u={{lastStaticUpdate}}"></script>
    <script rel="stylesheet" type="text/css" href="/static/css/allocationTable.css?u={{lastStaticUpdate}}"></script>
{% endblock %}

{% block app_content %}

<h2 class="text-center">{% if department %} {{department.DEPT_NAME}} Allocations {% else %} Choose a Department: {% endif %} </h2>

<div class ="button-container">
  <h3 class="termDisplay">Current Term: {{currentAY.termName}}</h3>
  <a id="download" class="btn btn-success" href="/department/{{department.ORG}}/{{department.ACCOUNT}}/allocations/download">Download Allocation History</a>
  <a id="request" class="btn btn-info" href="/department/{{department.ORG}}/{{department.ACCOUNT}}/allocations/request">Request Allocation</a>
</div>
 
<div id="cardAccordion" class="accordion">
  
  <!-- Fall Allocations -->
 <div class="card">
    <div class="card-header" id="headingOne">
      
        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
          <span>
            <i class="bi bi-chevron-down accordion-arrow"></i>
            <span class="mb-0">Fall Term ({{currentAY.termName[3:7]}})</span>
          </span>
        </button>
    </div>
    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#cardAccordion">
      <table class="table table-striped table-bordered" id="fallTermPrimaries">
          <thead style="padding:50%;">
            <tr>
              <th style="width:20%; text-align: center;">Primaries</th>
              <th style="width:40%; text-align: center;">Contracted</th>
              <th style="width: 40%; text-align: center;">Allocated</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td style="text-align: center">10 Hour</td>
              <td style="text-align: center">{{fallContracts["used_10"]}}</td>
              <td style="text-align: center;">{{allocations["primary_10"]}}</td>
            </tr>
            <tr>
              <td style="text-align: center">12 Hour</td>
              <td style="text-align: center">{{fallContracts["used_12"]}}</td>
              <td style="text-align: center;">{{allocations["primary_12"]}}</td>
            </tr>
            <tr>
              <td style="text-align: center">15 Hour</td>
              <td style="text-align: center">{{fallContracts["used_15"]}}</td>
              <td style="text-align: center;">{{allocations["primary_15"]}}</td>
            </tr>
              <tr>
                <td style="text-align: center">20 Hour</td>
                <td style="text-align: center">{{fallContracts["used_20"]}}</td>
                <td style="text-align: center;">{{allocations["primary_20"]}}</td>
              </tr>
              <tr>
                <td style="text-align: center">Total Primaries</td>
                <td style="text-align: center">{{fallContracts["used_primaries"]}}</td>
                <td style="text-align: center;">{{allocations["totalPrimaries"]}}</td>
              </tr>
              <tr>
                <td style="text-align: center">Total Contracts<span><i class="bi bi-info-circle" data-toggle="tooltip" title="Total Contracts shows the count for both Primaries and Secondaries for the term."></i></span></td>
                <td style="text-align: center">{{fallContracts["used_total"]}}</td>
                <td style="text-align: center;">{{allocations["totalAllocations"]}}</td>
              </tr>
        </tbody>
      </table>
      <table class="table table-striped table-bordered" id="fallTermSecondaries">
          <thead style="padding:50%;">
            <tr>
              <th style="width:20%; text-align: center;">Secondaries</th>
              <th style="width:40%; text-align: center;">Contracted</th>
              <th style="width: 40%; text-align: center;">Allocated</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td style="text-align: center">5 Hour</td>
              <td style="text-align: center">{{fallContracts["used_5_sec"]}}</td>
              <td style="text-align: center;">{{allocations["secondary_5"]}}</td>
            </tr>
            <tr>
              <td style="text-align: center">10 Hour</td>
              <td style="text-align: center">{{fallContracts["used_10_sec"]}}</td>
              <td style="text-align: center;">{{allocations["secondary_10"]}}</td>
            </tr>
            <tr>
              <td style="text-align: center">Total Secondaries</td>
              <td style="text-align: center">{{fallContracts["used_secondaries"]}}</td>
              <td style="text-align: center;">{{allocations["totalSecondaries"]}}</td>
            </tr>
            <tr>
              <td style="text-align: center">Total Contracts<span><i class="bi bi-info-circle" data-toggle="tooltip" title="Total Contracts shows the count for both Primaries and Secondaries for the term."></i></span></td>
              <td style="text-align: center">{{fallContracts["used_total"]}}</td>
              <td style="text-align: center;">{{allocations["totalAllocations"]}}</td>
            </tr>
        </tbody>
      </table>
      </div>
    </div>

  <!-- Spring Allocations -->
  <div class="card">
    <div class="card-header" id="headingTwo">
        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          <span>
            <i class="bi bi-chevron-down accordion-arrow"></i>
            <span class="mb-0">Spring Term ({{currentAY.termName[8:]}})</span>
          </span>
        </button>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#cardAccordion">
      <table class="table table-striped table-bordered" id="springTermPrimaries">
          <thead style="padding:50%;">
            <tr>
              <th style="width:20%; text-align: center;">Primaries</th>
              <th style="width:40%; text-align: center;">Contracted</th>
              <th style="width: 40%; text-align: center;">Allocated</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td style="text-align: center">10 Hour</td>
              <td style="text-align: center">{{springContracts["used_10"]}}</td>
              <td style="text-align: center;">{{allocations["primary_10"]}}</td>
            </tr>
            <tr>
              <td style="text-align: center">12 Hour</td>
              <td style="text-align: center">{{springContracts["used_12"]}}</td>
              <td style="text-align: center;">{{allocations["primary_12"]}}</td>
            </tr>
            <tr>
              <td style="text-align: center">15 Hour</td>
              <td style="text-align: center">{{springContracts["used_15"]}}</td>
              <td style="text-align: center;">{{allocations["primary_15"]}}</td>
            </tr>
              <tr>
                <td style="text-align: center">20 Hour</td>
                <td style="text-align: center">{{springContracts["used_20"]}}</td>
                <td style="text-align: center;">{{allocations["primary_20"]}}</td>
              </tr>
              <tr>
                <td style="text-align: center">Total Primaries</td>
                <td style="text-align: center">{{springContracts["used_primaries"]}}</td>
                <td style="text-align: center;">{{allocations["totalPrimaries"]}}</td>
            </tr>
              <tr>
                <td style="text-align: center">Total Contracts<span><i class="bi bi-info-circle" data-toggle="tooltip" title="Total Contracts shows the count for both Primaries and Secondaries for the term."></i></span></td>
                <td style="text-align: center">{{springContracts["used_total"]}}</td>
                <td style="text-align: center;">{{allocations["totalAllocations"]}}</td>
              </tr>
        </tbody>
      </table>
      <table class="table table-striped table-bordered" id="springTermSecondaries">
          <thead style="padding:50%;">
            <tr>
              <th style="width:20%; text-align: center;">Secondaries</th>
              <th style="width:40%; text-align: center;">Contracted</th>
              <th style="width: 40%; text-align: center;">Allocated</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td style="text-align: center">5 Hour</td>
              <td style="text-align: center">{{springContracts["used_5_sec"]}}</td>
              <td style="text-align: center;">{{allocations["secondary_5"]}}</td>
            </tr>
            <tr>
              <td style="text-align: center">10 Hour</td>
              <td style="text-align: center">{{springContracts["used_10_sec"]}}</td>
              <td style="text-align: center;">{{allocations["secondary_10"]}}</td>
            </tr>
            <tr>
              <td style="text-align: center">Total Secondaries</td>
              <td style="text-align: center">{{springContracts["used_secondaries"]}}</td>
              <td style="text-align: center;">{{allocations["totalSecondaries"]}}</td>
            </tr>
            <tr>
              <td style="text-align: center">Total Contracts<span><i class="bi bi-info-circle" data-toggle="tooltip" title="Total Contracts shows the count for both Primaries and Secondaries for the term."></i></span></td>
              <td style="text-align: center">{{springContracts["used_total"]}}</td>
              <td style="text-align: center;">{{allocations["totalAllocations"]}}</td>
            </tr>
        </tbody>
      </table>
    </div>
  </div>

  <!-- Break Allocations -->
  <div class="card">
    <div class="card-header" id="headingThree">
      
      <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
           <span>
            <i class="bi bi-chevron-down accordion-arrow"></i>
            <span class="mb-0">Break Allocations ({{currentAY.termName[3:]}})</span>
          </span>
        </button>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#cardAccordion">
        <table class="table table-striped table-bordered" id="breakTable">
          <thead style="padding:50%;">
            <tr>
              <th style="width:20%; text-align: center;">Primaries</th>
              <th style="width:40%; text-align: center;">Contracted</th>
              <th style="width: 40%; text-align: center;">Allocated</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td style="text-align: center">Fall Break</td>
              <td style="text-align: center">{{breakContracts['fall']}}</td>
              <td></td>
            </tr>
            <tr>
              <td style="text-align: center">Thanksgiving</td>
              <td style="text-align: center">{{breakContracts['thanksgiving']}}</td>
              <td></td>
            </tr>
            <tr>
              <td style="text-align: center">Winter Break</td>
              <td style="text-align: center">{{breakContracts['winter']}}</td>
              <td></td>
            </tr>
            <tr>
              <td style="text-align: center">Spring Break</td>
              <td style="text-align: center">{{breakContracts['spring']}}</td>
              <td></td>
            </tr>
            <tr>
              <td style="text-align: center">Summer Term</td>
              <td style="text-align: center">{{breakContracts['summer']}}</td>
              <td></td>
            </tr>
            <tr>
              <td style="text-align: center">Total Break Hours <span><i class="bi bi-info-circle" data-toggle="tooltip" title="Break hours have a set amount of allocations for the entire year."></i></span></td>
              <td style="text-align: center">{{breakContracts['total']}}</td>
              <td style="text-align: center">{{allocations["breakHours"]}}</td>
            </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>  
{% endblock %}
