{% extends "base.html" %}
{% block styles %}
    {{super()}}
    <link href="https://cdn.datatables.net/v/dt/dt-2.1.6/datatables.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/allocationTable.css') }}?u={{ lastStaticUpdate }}">
{% endblock %}

{% block scripts %}
    {{super()}}
    <script src="https://cdn.datatables.net/v/dt/dt-2.1.6/datatables.min.js"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/allocationTable.js') }}?u={{lastStaticUpdate}}"></script>
    <script rel="stylesheet" type="text/css" href="/static/css/allocationTable.css?u={{lastStaticUpdate}}"></script>
{% endblock %}

{% block app_content %}
<div class="grid-container">
<h1>View Allocations for {{department.DEPT_NAME}}</h1>
<button id="download" class="btn btn-success">Download all Allocation Data</button>
<h5 style="color:slategrey;">*Position allocations are placed (contracted/allocated) in the table</h5>
</div>
  
    
  <div class="allocationTable">
            <table class="table table-striped table-bordered" id="allocationTable" style="table-layout: fixed;
  width: 100%;">
              <thead>
                <tr style="font-size: 1.4rem;">
                  <th>Term</th>
                  <th>Total Position Allocation</th>
                  <th>Total Break Allocations</th>
                  <th>10 hour</th>
                  <th>12 Hour</th>
                  <th>15 Hour</th>
                  <th>20 Hour</th>
                  <th>5 Hour <span style="font-size:1.2rem">Secondary</span></th>
                  <th>10 Hour <span style="font-size:1.2rem">Secondary</span></th>
                  <th>Fall Break</th>
                  <th>Winter Break</th>
                  <th>Spring Break</th>
                  <th>Summer Break</th>
                </tr>
              </thead>
              <tbody style="font-size: 1.25rem;">
                {% for term in terms%}
                  <tr>
                  <td>{{term}}</td>
                  <td>{{allocations[term]["totalAllocations"]}}</td>
                  <td>{{allocations[term]["breakHours"]}}</td>
                  <td>{{allocations[term]["primary_10"]}}</td>
                  <td>{{ allocations[term]["primary_12"]}}</td>
                  <td>{{allocations[term]["primary_15"]}}</td>
                  <td>{{allocations[term]["primary_20"]}}</td>
                  <td>{{allocations[term]["secondary_5"]}}</td>
                  <td>{{allocations[term]["secondary_10"]}}</td>
                  <td>Fall Break</td>
                  <td>Winter Break</td>
                  <td>Spring Break</td>
                  <td>Summer Break</td>
                  </tr>

                {% endfor %}
              </tbody>
            </table>
          </div>

        


{% endblock %}
