{% extends "base.html" %}
{% block styles %}
    {{super()}}
    <link href="https://cdn.datatables.net/v/dt/dt-2.1.6/datatables.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/allocationTable.css') }}?u={{ lastStaticUpdate }}">
{% endblock %}

{% block scripts %}
    {{super()}}
    <script src="https://cdn.datatables.net/v/dt/dt-2.1.6/datatables.min.js"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/allocationTable.js') }}?u={{lastStaticUpdate}}"></script>
    <script rel="stylesheet" type="text/css" href="/static/css/allocationTable.css?u={{lastStaticUpdate}}"></script>
{% endblock %}

{% block app_content %}


 <div class="grid-container">
 <h1>View {{department.DEPT_NAME}} Allocations</h1>
<button id="download" class="btn btn-success">Download Allocation History</button>
<h5 style="color:slategrey;">*Position allocations are placed (contracted/allocated) in the table</h5>
</div>
  
<br>
<div>
  <h4>Current Term: {{term.termName}}</h4>
  <h4>Total AY Positions: {{allocations['totalAllocations']}}</h4>
</div>  
 

<div id="accordionExample" class="accordion">
  
  <!-- Card 1 -->
 <div class="card">
    <div class="card-header" id="headingTwo">
      
        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          <h2 class="mb-0">
            Fall Term ({{term.termName[3:7]}})
          </h2>
        </button>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
      <div class="card-body">
        Distinctio, architecto ab quasi aut eius inventore placeat natus voluptatem sit excepturi.
      </div>
    </div>
  </div>

  <!-- Card 2 -->
  <div class="card">
    <div class="card-header" id="headingTwo">
      
        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          <h2 class="mb-0">
            Spring Term ({{term.termName[8:]}})
          </h2>
        </button>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
      <div class="card-body">
        Distinctio, architecto ab quasi aut eius inventore placeat natus voluptatem sit excepturi.
      </div>
    </div>
  </div>

  <!-- Card 3 -->
  <div class="card">
    <div class="card-header" id="headingTwo">
      
        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          <h2 class="mb-0">
            Summer Term ({{term.termName[8:]}})
          </h2>
        </button>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
      <div class="card-body">
        Distinctio, architecto ab quasi aut eius inventore placeat natus voluptatem sit excepturi.
      </div>
    </div>
  </div>

</div>  
{% endblock %}
