{% extends "base.html" %}

{% block scripts %}
{{super()}}
    <script type="text/javascript" src="{{url_for('static', filename='js/departmentPortal.js') }}?u={{lastStaticUpdate}}"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/departmentPortal.css?u={{lastStaticUpdate}}"/>
{% endblock %}
{% block app_content %}
<h2 class="text-center">{% if department %} {{department.DEPT_NAME}} Portal {% else %} Choose a Department: {% endif %} </h2>


  <!--selectpicker for department-->
  <div class="form-group">
    <select class="selectpicker"
            name='department'
            id='selectedDepartment'
            data-live-search='true'
            title="Department"
            data-width="100%">
      <option value = "" disabled selected>Select a Department</option>
      {% for d in departments %}
        <option data-account="{{d.ACCOUNT}}" data-org="{{d.ORG}}"{% if department and d == department %} selected {% endif %} data-content=
        "<span>{{d.DEPT_NAME}}</span><small class='text-muted'> ({{d.ORG}}-{{d.ACCOUNT}}) </small>">{{d.DEPT_NAME}}</option>
      {% endfor %}
    </select>

  </div>


  {% if department %}
    <div class="row g-3">
      <div class="col-12 col-lg-4 ">

        <section class="card" aria-labelledby="current_allocation-title">
          <p> Insert Allocations Card Here </p>
            <div class="card-footer text-center">
              <a href="/department/{{ department.ORG }}/{{ department.ACCOUNT }}/REPLACEME" class="btn btn-primary">View Alloations<span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
        </section>
        
       </div>

        <div class="col-12 col-lg-4">
          <section class="card">
    <div class="card-body">
      <div class="media">
         <div class="media-left media-middle">
          <span class="members-icon">
            <i class="bi bi-people-fill"></i>
          </span>
        </div>

        <div class="media-body media-middle">
          <h1>
            Members
          </h1>
        </div>
      </div>
      <h4> <b>{% if laborCoordinators|length <= 1 %} Labor Coordinator {% else %} Labor Coordinators{% endif %}</b></h4>
      {% if laborCoordinators %}
        {% for coordinator in laborCoordinators %}
          <p>
            {{ coordinator.name }}

            {% if coordinator.email %}
                 <a href="mailto:{{ coordinator.email }}"
                      data-toggle="tooltip"
                      data-placement="bottom"
                      title="{{ coordinator.email }}">
                      <i class="bi bi-envelope-fill"></i>
                  </a>
            {% endif %}
          </p>
        {% endfor %}
      {% else %}
        <p>None assigned. <a href="#" >Add one?</a> </p> 
        <!-- href will be the link same as view members because we already have the logci to add labor coordinator and supervisor there and we don't want the card to be clsutered -->
          
      {% endif %}

    
      <h4> <b>{% if supervisors|length <= 1 %} Supervisor{% else %} Supervisors{% endif %}</b></h4>

      {% if supervisors %}
        {% for s in supervisors[:3] %}
            <p>
              {{ s.name }}

              {% if s.email %}
                  <a href="mailto:{{ s.email }}"
                      data-toggle="tooltip"
                      data-placement="bottom"
                      title="{{ s.email }}">
                      <i class="bi bi-envelope-fill"></i>
                  </a>
                
              {% endif %}
            </p>
            {% endfor %}

            {% if supervisors|length > 3 %}
              <p>and {{ supervisors|length - 3 }} more...</p>
            {% endif %}

      {% elif not laborCoordinators and currentUser.isLaborAdmin %}
        <p>No active supervisors assigned. <a href="#" >Add one?</a>  </p>
      {% else  %}
        <p>No active supervisors assigned.</p>
      {% endif %}

    </div>

    <div class="card-footer text-center">
      <a href="#" class="btn btn-primary">View Members
         <span class="glyphicon glyphicon-chevron-right"></span>
      </a>
    </div>
  </section>

        </div>

        <div class=" col-12 col-lg-4">
        <section class="card" aria-labelledby="positions-title">
          <div class="card-body">
              <div class="media">
              <div class="media-left media-middle">
                <span aria-hidden="true" style="color: #424242; font-size: 24px;">
                  <i class="bi bi-suitcase-lg-fill"></i>
                </span>
              </div>
              <div class="media-body media-middle">
                <h1>Positions</h1>
              </div>

            </div>
            <ul style="line-height:2;">
              {% if positions == [] %}
                <li class="card-text">
                  <p> No active positions in this department </p>
                </li>
              {% else %}
                {% for p in positions[:7] %}
                  {% if 7 > loop.index0 %}
                    <li class="card-text">
                      <a href= "/department/{{ department.ORG }}/{{ department.ACCOUNT }}/positions/{{posURL[loop.index0]}}">{{ p }}</a>
                    </li>
                  {% elif 7 == loop.index0 %}
                    </ul><p class="card-text">and {{ (positions | length) - 7}} more...</p>
                  {% endif %}
                {% endfor %}
              {% endif %}
            </ul>
            
          </div>
              <div class="card-footer text-center">
                <a href="/department/{{ department.ORG }}/{{ department.ACCOUNT }}/positions" class="btn btn-primary">View All Positions<span class="glyphicon glyphicon-chevron-right"></span></a>
              </div>
        </section>
      </div>
  </div>

{% endif %}

{% endblock %}
