{% extends "base.html" %}

{% block styles %}
{{super()}}
  <link href="/static/css/managepositions.css?u={{lastStaticUpdate}}" rel="stylesheet" type="text/css">
{% endblock %}

{% block scripts %}
{{super()}}
    <script type="text/javascript" src="{{url_for('static', filename='js/managePositions.js') }}?u={{lastStaticUpdate}}"></script>
{% endblock %}

{% block app_content %}
<div class="text-white  department-header">
    <h2>{{ department_name }}</h2>
</div>

<div class="container-fluid position-management">

    <div class="row page-header">
        <div class="col-xs-4">
            <div class="input-group">
                <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
                <input type="text" id="searchInput" class="form-control" placeholder="Search Positions...">
            </div>
        </div>
            <h1 class="col-xs-4 text-center">Manage Positions</h1>
        <div class="col-xs-4 text-right">
            <button class="btn add-btn btn-primary" id="addPositionButton">
                Add Position
            </button>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped table-bordered text-center" id="positionTable">
            <thead>
                <tr>
                    <th class="text-center">Position (WSL)</th>
                    <th class="text-center">Position Code</th>
                    <th class="text-center">Status</th>
                    <th class="width-12 text-center">Last Revision Date</th>
                    <th class="width-12 text-center">View Position Description</th>
                    <th class="text-center">Edit Position Description</th>
                </tr>
            </thead>
            <tbody>
                <!-- Sample Row -->
                <tr>
                    <td>TA (3)</td>
                    <td>S85405</td>
                    <td>
                        <p class="bg-success p-5">
                            Active
                        </p>
                    </td>
                    <td>01/01/2024</td>
                    <td>
                        <button class="btn btn-success view-btn">
                            View
                        </button>
                    </td>
                    <td>
                        <button class="btn btn-primary request-btn">
                            Request an Update
                        </button>
                    </td>
                </tr>
                <tr>
                    <td>Co-Lead TA (4)</td>

                    <td>S89123</td>
                    <td>
                        <p class="status requested  bg-warning p-5">
                            Requested
                        </span>
                    </td>
                    <td>01/01/2024</td>
                    <td>
                        <button class="btn view-btn btn-success">
                            View
                        </button>
                    </td>
                    <td>
                        <button class="btn request-btn btn-primary">
                            Request an Update
                        </button>
                    </td>
                </tr>
                <tr>
                    <td>Lead TA (4)</td>
                    <td>S89123</td>
                    <td>
                        <p class="bg-danger p-5">
                            Inactive
                        </p>
                    </td>

                    <td>01/01/2024</td>
                    <td>
                        <button class="btn view-btn btn-success">
                            View
                        </button>
                    </td>
                    <td>
                        <button class="btn request-btn btn-primary">
                            Request an Update
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <h2 class="total">
        Total Positions:
        <span id="positionCount">3</span>
    </h2>
</div>
{% endblock %}
