{% extends "base.html" %}

{% block styles %}
{{super()}}
    <link href="https://cdn.datatables.net/v/dt/dt-2.1.6/datatables.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename ='css/managemembers.css')}}?u={{lastStaticUpdate}}">
    {% endblock %}

{% block scripts %}
{{super()}}
    <script type="text/javascript" src="{{url_for('static', filename='js/addSupervisorsToDepartment.js') }}?u={{lastStaticUpdate}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/manageMembers.js') }}?u={{lastStaticUpdate}}"></script>
    <script src="https://cdn.datatables.net/v/dt/dt-2.1.6/datatables.min.js"></script>
{% endblock %}

{% block app_content %}
<h2 class="text-center">{% if department %} Manage {{department.DEPT_NAME}} Members {% else %} Manage Members {% endif %} </h2>
<h3 class="text-center"> Academic Year: {{currentAcademicYear[0]}}–{{currentAcademicYear[1]}}</h3>
{%if g.currentUser.supervisor.isBanned %}

<br></br>
<div class = "alert alert-danger" role="alert"> Your account is currently ineligible to add new students or create new status forms. Please contact the Labor Office for more information.
 </div> 
 <script>
setTimeout(() => document.querySelector('.alert-danger').style.display = 'none', 5000);
</script>
{%endif%}
<br></br>

<div id="add-member">
    <a class="skipContent" href="#search" tabindex="1">Click to Skip</a>
    <form id="titleBlock" action="" method="POST">
        <div class="form-group" id='searchBoxContainer'>
            <select id="search"
                      class="form-control selectpicker"
                      title="Add Members by B# or Name"
                      data-width="258px"
                      data-show-subtext="true"
                      data-live-search="true"
                      data-department-id="{{ department.departmentID if department else '' }}">
            </select>
        </div>
    </form>
</div>

<div class="tab-pane activecol-lg-12" align="center">
    <table class="table table-striped table-bordered dataTable" id="manageMembers">
        <thead class="tableHeaders">
            <tr>
                <th>Name</th>
                <th class="no-sorting">Supervisees</th>
                <th class="no-sorting centered-header">Assign Coordinator</th>

                {% if g.currentUser.isLaborAdmin or g.currentUser.isLaborDepartmentStudent %}
                <th class="no-sorting centered-header">
                    Supervisor Eligibility 
                    &nbsp;
                     <span  data-trigger= "hover" data-toggle="popover" data-content ="Ineligible Supervisors cannot have new supervisees " class="bi bi-info-circle "></span>
                </th>
                <th class="no-sorting centered-header">Remove Member</th>
                {% endif %}
            </tr>
        </thead>

        <tbody>
            {% for member in members %}
            <tr>
                <td>
                    <a aria-label="{{ member.supervisor.ID }}" class="hover-indicator"> {{ member.supervisor.legal_name }} {{ member.supervisor.LAST_NAME }}</a>
                    <a href="mailto:{{ member.supervisor.EMAIL }}">✉</a>

                    <br>
                    <span class="isbanned-badge" data-trigger= "hover" data-toggle="popover" data-content ="Ineligible Supervisors cannot have new supervisees " class="bi bi-info-circle " {% if not member.supervisor.isBanned %} style="visibility: hidden;" {% endif %}>Ineligible</span>
                </td>

                <td class="centered-cell">
                    {% if (member.active_primary_positions == 0 and member.active_secondary_positions == 0) and (member.pending_primary_positions == 0 and member.pending_secondary_positions == 0) %}
                        None
                    {% else %}
                        <b>Primary:</b> {{member.active_primary_positions}} active, {{member.pending_primary_positions]}} pending<br>
                        <b>Secondary:</b> {{member.active_secondary_positions ]}} active, {{member.pending_secondary_positions }} pending
                    {% endif %}
                </td>

                <td class="text-center centered-cell">
                    <form action="" method="POST">
                        <div class="form-group">
                            <label class="switch table-switch">
                                <input class="assign-coordinator" name="is_coordinator" type="checkbox" data-supervisor="{{ member.supervisor.ID}}" data-department="{{ department.departmentID }}" data-member-name="{{ member.supervisor.legal_name  + ' ' + member.supervisor.LAST_NAME  }}" {% if member.isCoordinator %} checked {% endif %}>
                                <span class="slider round"></span>
                            </label>
                            <span class="switch-label"></span>
                        </div>
                    </form>
                </td>

                {% if g.currentUser.isLaborAdmin or g.currentUser.isLaborDepartmentStudent %}
                <td class="text-center centered-cell">
                    <form action="" method="POST">
                        {% if not member.supervisor.isBanned %}
                            <button
                                name="is_banned"
                                type="button"
                                class="btn btn-success member-status-btn"
                                align="center"
                                data-supervisor="{{member.supervisor.ID}}"
                                data-member-name="{{ member.supervisor.legal_name }} {{ member.supervisor.LAST_NAME }}"
                                value="Eligible"> Eligible
                            </button>
                        {% else %}
                            <button
                                name="is_banned"
                                type="button"
                                class="btn btn-danger member-status-btn"
                                align="center"
                                data-supervisor="{{member.supervisor.ID }}"
                                data-member-name="{{ member.supervisor.legal_name }} {{ member.supervisor.LAST_NAME }}"
                                value="Ineligible"> Ineligible 
                            </button>
                        {% endif %}
                    </form>
                </td>
                <td class="text-center centered-cell remove-member" 
                    data-supervisor="{{i['supervisor']}}"
                    data-department="{{ department.departmentID }}"
                    data-member-name="{{ i['legal_name'] + ' ' + i['LAST_NAME'] }}">
                    <form action="" method="DELETE">
                        <button class="btn btn-danger" align="center">
                            <span class="bi bi-trash"></span>
                        </button>
                    </form>
                </td>
                {% endif %}

            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}