{% extends "base.html" %}

{% block styles %}
{{super()}}
    <link href="https://cdn.datatables.net/v/dt/dt-2.1.6/datatables.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename ='css/allPendingForms.css')}}?u={{lastStaticUpdate}}">
{% endblock %}

{% block scripts %}
{{super()}}
    <script type="text/javascript" src="{{url_for('static', filename='js/manageStaff.js') }}?u={{lastStaticUpdate}}"></script>
    <script src="https://cdn.datatables.net/v/dt/dt-2.1.6/datatables.min.js"></script>
{% endblock %}

{% block app_content %}
<h2 class="text-center">{% if department %} Manage {{department.DEPT_NAME}} Staff {% else %} Manage Staff {% endif %} </h2>

<br></br>

<div style="display: flex; justify-content:space-between; gap:20px;">
    <button class="btn btn-primary" type="button">Show Inactive Supervisors</button>


    <a class="skipContent" href="#search" tabindex="1">Click to Skip</a>
    <form id="titleBlock" action="" method="POST" style="height:20px;">
        <div class="form-group" id='searchBoxContainer'>
            <select id="search"
                      class="form-control selectpicker"
                      title="Add Staff by B# or Name"
                    data-width="258px"
                      data-show-subtext="true"
                      data-live-search="true">
            </select>
        </div>
    </form>
</div>

<div class="tab-pane activecol-lg-12" align="center">
    <table class="table table-striped table-bordered dataTable" id="manageStaff">
        <thead class="tableHeaders">
            <tr>
                <th>Name</th>
                <th>Supervisees</th>
                <th>Assign as Coordinator</th>

                {% if currentUser.isLaborAdmin or currentUser.isLaborDepartmentStudent %}
                <th>Status</th>
                <th>Remove Staff</th>
                {% endif %}
            </tr>
        </thead>

        <tbody>
            {% for i in staff %}
            <tr>
                <td>
                    <a aria-label="{{i[5]}}" class="hover_indicator">{{ i[0] }}</a>
                    <a href="mailto:{{ i[0] }}">✉</a>

                    <br>

                    {% if i[4] %}
                        <span class="inactive_badge">Banned</span>
                    {% endif %}
                </td>

                <td>
                    <b>Primary:</b> {{ i[1] }}<br>
                    <b>Secondary:</b> {{ i[2] }}
                </td>

                <td>
                    <input class="approveCheckbox" type='checkbox' autocomplete="off" {% if i[3] %} checked {% endif %}/>
                </td>

                {% if currentUser.isLaborAdmin or currentUser.isLaborDepartmentStudent %}
                <td>
                    {% if not i[4] %}
                    <button class="btn btn-danger" align="center">&nbsp; Ban &nbsp;</button> 
                    {% else %}
                    <button class="btn btn-success " align="center">Unban</button>
                    {% endif %}
                </td>
                <td>
                    <button class="btn btn-danger" align="center"><span class="bi bi-trash"></span></button>
                </td>
                {% endif %}

            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}