{% extends "base.html" %}

{% block scripts %}
{{super()}}
    <script type="text/javascript" src="{{url_for('static', filename='js/departmentPortal.js') }}?u={{lastStaticUpdate}}"></script>
{% endblock %}

{% block app_content %}
<h2 class="text-center">{% if department %} {{department.DEPT_NAME}} Portal {% else %} Choose a Department: {% endif %} </h2>
<h3 class="text-center">Manage Staff</h3>

<br>
<br>

<button class="btn btn-primary" type="button">Show Inactive Supervisors</button>

<div class="col-lg-12" align="center">
    <table class="table table-striped dataTable">
        <thead class="tableHeaders">
            <tr>
                <th>Name</th>
                <th>Supervisees</th>
                <th>Assign as Coordinator</th>
            </tr>
        </thead>

        <tbody>
            {% for i in staff %}
            <tr>
                <td>
                    {{ i[0] }}
                    <a href="mailto:{{ i[4] }}">✉</a>

                    {% if i[5] %}
                        <span class="badge">Banned</span>
                    {% endif %}
                </td>

                <td>
                    <b>Primary:</b> {{ i[1] }}<br>
                    <b>Secondary:</b> {{ i[2] }}
                </td>

                <td>{{ i[3] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}