{% set title = "Student Confirmation" %}
{% extends "base.html" %}

{% block scripts %}
{{super()}}
<script src="{{ url_for('static', filename='js/studentConfirmResponse.js') }}"></script>
{% endblock %}

{% block app_content %}

<h2>Confirm Your Work Contract</h2>
<div style="width:50%; min-width:400px">
    <p>
    This message is very important. Please take a moment to read carefully and review the information before submitting your decision.
    </p>

    <p>
    This contract is an offer that you must respond to before it is reviewed by the Labor Program Office. By choosing "Accept", you agree to the labor status form details below. Please be aware that once an offer is accepted, the offer is locked in. You and your supervisor must mutually agree to a release once the offer has been accepted. Any mutual releases or adjustments must happen before the labor position change deadline listed on the academic calendar.
    </p>

    <p>
    If you do not accept the terms of this form, please deny the position. If you believe that some of the information in this contract is correct, but some of it is incorrect, do not accept the contract. The form will have to be denied and your supervisor will have to submit a new contract.
    </p>

    <p>
    <b>NOTICE:</b> This does not mean your position is active to begin work, only that a labor status form has been submitted to the Labor Department to await approval.
    </p>
    <p class="alert alert-danger">
    You have until {{ laborDescription.expiration_date.strftime("%B %d") }} to Accept or Deny this contract. After that date, the form will be denied and your supervisor will have to submit a new contract, if the position is still available.
    </p>
</div>

<h3>Labor Contract Details: </h3>
<div style="margin:10px;font-size:1.2em">
    <div class="labor-status-info">
        <p><strong>Student Name:</strong> {{ laborDescription.student_name }} ({{ laborDescription.student_id }})</p>
        <p><strong>Supervisor:</strong> {{ laborDescription.supervisor }}</p>
        <p><strong>Position Code/Title:</strong> {{ laborDescription.position_code_title }}</p>
        <p><strong>WLS Level:</strong> {{ laborDescription.wls }}</p>
        <p><strong>Department Name:</strong> {{ laborDescription.department }}</p>
        {% set hoursDescription = "Total Contracted Hours" if laborDescription.term.isBreak else "Hours per Week" %}
        <p><strong>{{ hoursDescription}}:</strong> {{ laborDescription.hours_per_week }}</p>
        <p><strong>Start Date:</strong> {{ laborDescription.start_date }}</p>
        <p><strong>End Date:</strong> {{ laborDescription.end_date }}</p>
    </div>
</div>

<form action="/studentResponse/submit" method="post">
    <input type="hidden" name="token" value="{{ form.confirmationToken }}">
    <button type="submit" name="response" value="Accepted" class="btn btn-lg btn-success">Accept</button>
    &nbsp;
    <button type="submit" name="response" value="Denied" class="btn btn-lg btn-danger">Deny</button>
</form>

{% endblock %}
