{% set title = "Student Confirmation" %}
{% extends "base.html" %}

{% block scripts %}
{{super()}}
<script src="{{ url_for('static', filename='js/checkboxStudentEmailConfirmation.js') }}"></script>
{% endblock %}

{% block app_content %}

<h2>Confirm Your Work Contract</h2>
<div style="width:50%; min-width:400px; padding-left: 10px;">
    <p class="alert alert-danger">
        <b>ACTION REQUIRED</b>
        <br>
        You have until {{ laborDescription.expiration_date.strftime("%B %d") }} to Accept or Deny this contract. After that date, the form will be denied and your supervisor will have to submit a new contract, if the position is still available.
    </p>

    <p> Please take a moment to read carefully and review the information before submitting your decision.</p>
    <h3>Labor Contract Details: </h3>
    <div style="margin:10px;font-size:1.2em">
        <div class="labor-status-info">
            <p><strong>Student Name:</strong> {{ laborDescription.student_name }} ({{ laborDescription.student_id }})</p>
            <p><strong>Supervisor:</strong> {{ laborDescription.supervisor }}</p>
            <p><strong>Position Code/Title:</strong> {{ laborDescription.position_code_title }}</p>
            <p><strong>WLS Level:</strong> {{ laborDescription.wls }}</p>
            <p><strong>Department Name:</strong> {{ laborDescription.department }}</p>
            <p><strong>Position Type:</strong> {{ laborDescription.jobType }}</p>
            {% set hoursDescription = "Total Contracted Hours" if laborDescription.term.isBreak else "Hours per Week" %}
            <p><strong>{{ hoursDescription}}:</strong> {{ laborDescription.hours_per_week }}</p>
            <p><strong>Start Date:</strong> {{ laborDescription.start_date }}</p>
            <p><strong>End Date:</strong> {{ laborDescription.end_date }}</p>
        </div>
    </div>

    <div class="form-group">
      {% if laborDescription.jobType == "Primary" %}
        <p>This contract is an offer that you must respond to before it is reviewed by Berea's Work College Program Office. By choosing “Accept”, you agree to the labor status form details above. Please be aware that <b>once an offer is accepted, the offer is locked in.</b>  In order to leave an accepted contract, you and your supervisor must mutually agree to a release before the labor change deadline listed in the academic calendar. Any mutual releases or adjustments must happen before the labor position change deadline listed on the academic calendar.</p>
        <p>Please do not accept this position without first considering all your offers. If you felt coerced or pressured to accept the position, please do not accept the contract and contact Berea's Work College Program Office.</p>

      {% else %} {# Secondary #}
        <p>This contract is an offer that you must respond to before it is reviewed by Berea's Work College Program Office. <b>By choosing “Accept”, you agree to the labor status form details above.</b> Please be aware that secondaries are not a requirement. However, in order to leave an accepted contract, your supervisor must submit a release.</p>
        <p>If this is a secondary position for the Spring or Fall term, <b>your primary supervisor reserves the right to deny the secondary position.</b> There are no primary break positions.<p>

      {% endif %}

        <p>If you do not accept the terms of this form, please deny the position. If you believe that some of the information in this contract is correct, but some of it is incorrect, deny the position and contact the potential supervisor. Your supervisor can submit a new contract for your acceptance.
        </p>
    
        <p><b>NOTICE:</b> This does not mean your position is active to begin work, only that a labor status form has been submitted to Berea's Work College Program Office to await approval.</p>

        <label>
            <input type="checkbox">
            I confirm the above information is correct for this labor position.
        </label><br>

      {% if laborDescription.jobType == "Primary" %}
        <label>
            <input type="checkbox">
            I agree to remain in this labor position until the end date above.
        </label><br>

        <label>
            <input type="checkbox">
            I have reviewed all my other offers before accepting this position.
        </label><br>

        <label>
            <input type="checkbox">
            I understand that my supervisor and I must mutually agree to a release once this offer has been accepted.
        </label><br>
      {% endif %}
    </div>
</div>

<form action="/studentResponse/submit" method="post">
    <input type="hidden" name="token" value="{{ form.confirmationToken }}">
    <input type="hidden" id="confirmParticipation" value="0">
    <button type="submit" name="response" value="Accepted" class="btn btn-lg btn-success" id="acceptButton" disabled>Accept</button>
    &nbsp;
    <button type="submit" name="response" value="Denied" class="btn btn-lg btn-danger">Deny</button>
</form>

{% endblock %}
