{% extends "base.html" %}
{% block scripts %}
  {{super()}}
  <script src="/static/js/studentLaborEvaluation.js?u={{lastStaticUpdate}}"></script>
  <script>
    $(document).ready(function() {
      if ( "{{isFinalEvaluationOpen}}" == "True") {
        $("#transcriptComments").attr("disabled", false);
      } else {
        $("#transcriptComments").attr("disabled", true);
      }
    });
  </script>
{% endblock %}

{% block styles %}
  {{super()}}
  <link rel='stylesheet' type="text/css" href='/static/css/studentLaborEvaluation.css?u={{lastStaticUpdate}}' />
{% endblock %}

{% block app_content %}

<div align="center" style="margin-bottom: 50px;">

  <a class="skipContent" href="#condition" tabindex="1">Click to Skip</a>

  <h1> Student Labor Evaluation - {{laborHistoryForm.formID.studentName}} </h1>
</div>

<div class="container col-10">
  <form method="POST">
    <div class="container form-group">
      {{ form.csrf_token }}
      <div class="row">
        <div class="col-sm-6">
          <dl>
            <dt>Department: </dt>
            <dd>{{laborHistoryForm.formID.department.DEPT_NAME}}</dd>
            <dt>Supervisor: </dt>
            <dd>{{laborHistoryForm.formID.supervisor.FIRST_NAME}} {{laborHistoryForm.formID.supervisor.LAST_NAME}}</dd>
            <dt>Student: </dt>
            <dd>{{laborHistoryForm.formID.studentName}}</dd>
          </dl>
        </div>
        <div class="col-sm-6">
          <dl>
            <dt>Term: </dt>
            <dd>{{laborHistoryForm.formID.termCode.termName}}</dd>
            <dt>Job Type (hours): </dt>
            <dd>{{laborHistoryForm.formID.jobType}} ({{laborHistoryForm.formID.weeklyHours}})</dd>
            <dt>Position (WLS): </dt>
            <dd>{{laborHistoryForm.formID.POSN_TITLE}} ({{laborHistoryForm.formID.WLS}})</dd>
          </dl>
        </div>
      </div>
      {% if laborHistoryForm.formID.supervisor != currentUser %}
        <div class="alert alert-danger" id="not-supervisor" style="color:red;">
          <strong>WARNING:</strong> According to the system, you are not this student's supervisor. Do not complete this evaluation unless you have {{laborHistoryForm.formID.supervisor.FIRST_NAME}} {{laborHistoryForm.formID.supervisor.LAST_NAME}}'s permission!
        </div>
      {% endif %}
      <hr />



      {# begin attendance #}
      <h3>{{ form.attendance.label }}
        <span class="glyphicon glyphicon-question-sign"
              id="attendance-help-icon"
              data-toggle="popover"
              data-html="true"
              data-trigger='hover'
              title="Attendance"
              data-content="<ul>
                              <li>Is punctual and arrives on time for work as scheduled and/or required.</li>
                              <li>Gives advance notices of absences.</li>
                            </ul>"
        </span>
      </h3>
      <div class="row form-check">
        <div class="col-xs-6">
          {% if not existing_final_evaluation and not (existing_midyear_evaluation and not isFinalEvaluationOpen) %}
            {{ form.attendance(**{"min":1, "max":20}) }}
          {% endif %}
          <div class = "col-xs-2">
            <p class="h4 values score_bordered" id = "{{form.attendance.id}}_value">
              {% if existing_final_evaluation %}
                {{existing_final_evaluation.attendance_score}}/20
              {% else %}
                {{form.attendance.data}}
              {% endif %}
            </p>
          </div>
          <div class="col-xs-10 alert alert-info" id="attendance_help" hidden>The student has met your attendance expectations.</div>
        </div>
        <div class="col-xs-6">
          {{form.attendanceComments.label}}
          {% if not existing_final_evaluation and not (existing_midyear_evaluation and not isFinalEvaluationOpen) %}
            {{form.attendanceComments}}
          {% endif %}
          {% if existing_midyear_evaluation and not existing_final_evaluation %}
            {{form.attendanceCommentsMidyear}}
          {% else %}
            <p>{{existing_final_evaluation.attendance_comment}}</p>
          {% endif %}
          <div class="row">
            {% if form.attendanceComments.errors %}
              <div role="alert" id="flash-message" style="color:red;">
                {% for error in form.attendanceComments.errors %}
                  {{ error }}
                {% endfor %}
              </div>
            {% endif %}
          </div>
        </div>

      </div>
      <hr />
      {# end attendance #}

      {# begin accountability #}
      <h3>{{ form.accountability.label }}
        <span class="glyphicon glyphicon-question-sign"
              id="accountability-help-icon"
              data-toggle="popover"
              data-html="true"
              data-trigger='hover'
              title="Accountability"
              data-content="<ul>
                              <li>Manages time well and provides timely completion of position assignments.</li>
                              <li>Supports workplace policies and procedures including dress and safety requirements.</li>
                              <li>Ensures proper care of college equipment, facilities, materials, and work environment.</li>
                            </ul>"
        </span>
      </h3>
      <div class="row form-check">
        <div class="col-xs-6">
          {% if not existing_final_evaluation and not (existing_midyear_evaluation and not isFinalEvaluationOpen) %}
            {{ form.accountability(**{"min":1, "max":10}) }}
          {% endif %}
          <div class = "col-xs-2">
            <p class="h4 values score_bordered" id = "{{form.accountability.id}}_value">
              {% if existing_final_evaluation %}
                {{existing_final_evaluation.accountability_score}}/10
              {% else %}
                {{form.accountability.data}}
              {% endif %}
            </p>
          </div>
          <div class="col-xs-10 alert alert-info" id="accountability_help" hidden>The student has met your accountability expectations.</div>
        </div>
        <div class="col-xs-6">
          {{form.accountabilityComments.label}}
          {% if not existing_final_evaluation and not (existing_midyear_evaluation and not isFinalEvaluationOpen) %}
            {{form.accountabilityComments}}
          {% endif %}
          {% if existing_midyear_evaluation and not existing_final_evaluation %}
            {{form.accountabilityCommentsMidyear}}
          {% else %}
            <p>{{existing_final_evaluation.accountability_comment}}</p>
          {% endif %}
          <div class="row">
            {% if form.accountabilityComments.errors %}
              <div role="alert" id="flash-message" style="color:red;">
                {% for error in form.accountabilityComments.errors %}
                  {{ error }}
                {% endfor %}
              </div>
            {% endif %}
          </div>
        </div>

      </div>
      <hr />
      {# end accountability #}

      {# begin teamwork #}
      <h3>{{ form.teamwork.label }}
        <span class="glyphicon glyphicon-question-sign"
              id="teamwork-help-icon"
              data-toggle="popover"
              data-trigger='hover'
              data-html="true"
              title="Teamwork"
              data-content="<ul>
                              <li>Demonstrates a willingness to work, support, and collaborate with supervisors and co-workers while promoting a positive atmosphere in the workplace for all people.</li>
                              <li>Demonstrates an understanding of the relationship of his/her work to the work of others within the department.</li>
                            </ul>"
        </span>
      </h3>
      <div class="row form-check">
        <div class="col-xs-6">
          {% if not existing_final_evaluation and not (existing_midyear_evaluation and not isFinalEvaluationOpen) %}
            {{ form.teamwork(**{"min":1, "max":10}) }}
          {% endif %}
          <div class = "col-xs-2">
            <p class="h4 values score_bordered" id = "{{form.teamwork.id}}_value">
              {% if existing_final_evaluation %}
                {{existing_final_evaluation.teamwork_score}}/10
              {% else %}
                {{form.teamwork.data}}
              {% endif %}
            </p>
          </div>
          <div class="col-xs-10 alert alert-info" id="teamwork_help" hidden>The student has met your teamwork expectations.</div>
        </div>
        <div class="col-xs-6">
          {{form.teamworkComments.label}}
          {% if not existing_final_evaluation and not (existing_midyear_evaluation and not isFinalEvaluationOpen) %}
            {{form.teamworkComments}}
          {% endif %}
          {% if existing_midyear_evaluation and not existing_final_evaluation %}
            {{form.teamworkCommentsMidyear}}
          {% else %}
            <p>{{existing_final_evaluation.teamwork_comment}}</p>
          {% endif %}
          <div class="row">
            {% if form.teamworkComments.errors %}
              <div role="alert" id="flash-message" style="color:red;">
                {% for error in form.teamworkComments.errors %}
                  {{ error }}
                {% endfor %}
              </div>
            {% endif %}
          </div>
        </div>
      </div>
      <hr />
      {# end teamwork #}

      {# begin initiative #}
      <h3>{{ form.initiative.label }}
        <span class="glyphicon glyphicon-question-sign"
              id="initiative-help-icon"
              data-toggle="popover"
              data-html="true"
              data-trigger='hover'
              title="Initiative"
              data-content="<ul>
                              <li>Consistently completes position assignments without need for constant supervision.</li>
                              <li>Is a self-starter with the ability to adjust and adapt to change as needed.</li>
                            </ul>"
        </span>
      </h3>
      <div class="row form-check">
        <div class="col-xs-6">
          {% if not existing_final_evaluation and not (existing_midyear_evaluation and not isFinalEvaluationOpen) %}
            {{ form.initiative(**{"min":1, "max":10}) }}
          {% endif %}
          <div class = "col-xs-2">
            <p class="h4 values score_bordered" id = "{{form.initiative.id}}_value">
              {% if existing_final_evaluation %}
                {{existing_final_evaluation.initiative_score}}/10
              {% else %}
                {{form.initiative.data}}
              {% endif %}
            </p>
          </div>
          <div class="col-xs-10 alert alert-info" id="initiative_help" hidden>The student has met your initiative expectations.</div>
        </div>
        <div class="col-xs-6">
          {{form.initiativeComments.label}}
          {% if not existing_final_evaluation and not (existing_midyear_evaluation and not isFinalEvaluationOpen) %}
            {{form.initiativeComments}}
          {% endif %}
          {% if existing_midyear_evaluation and not existing_final_evaluation %}
            {{form.initiativeCommentsMidyear}}
          {% else %}
            <p>{{existing_final_evaluation.initiative_comment}}</p>
          {% endif %}
          <div class="row">
            {% if form.initiativeComments.errors %}
              <div role="alert" id="flash-message" style="color:red;">
                {% for error in form.initiativeComments.errors %}
                  {{ error }}
                {% endfor %}
              </div>
            {% endif %}
          </div>
        </div>
      </div>
      <hr />
      {# end initiative #}

      {# begin respect #}
      <h3>{{ form.respect.label }}
        <span class="glyphicon glyphicon-question-sign"
              id="respect-help-icon"
              data-toggle="popover"
              data-html="true"
              data-trigger='hover'
              title="Respect"
              data-content="<ul>
                              <li>Exhibits professional conduct in the workplace and interacts respectfully with all people including supervisors, co-workers and those being served.</li>
                              <li>Respectfully deals with conflict and differing points of view.</li>
                            </ul>"
        </span>
      </h3>
      <div class="row form-check">
        <div class="col-xs-6">
          {% if not existing_final_evaluation and not (existing_midyear_evaluation and not isFinalEvaluationOpen) %}
            {{ form.respect(**{"min":1, "max":10}) }}
          {% endif %}
          <div class = "col-xs-2">
            <p class="h4 values score_bordered" id = "{{form.respect.id}}_value">
              {% if existing_final_evaluation %}
                {{existing_final_evaluation.respect_score}}/10
              {% else %}
                {{form.respect.data}}
              {% endif %}
            </p>
          </div>
          <div class="col-xs-10 alert alert-info" id="respect_help" hidden>The student has met your respect expectations.</div>
        </div>
        <div class="col-xs-6">
          {{form.respectComments.label}}
          {% if not existing_final_evaluation and not (existing_midyear_evaluation and not isFinalEvaluationOpen) %}
            {{form.respectComments}}
          {% endif %}
          {% if existing_midyear_evaluation and not existing_final_evaluation %}
            {{form.respectCommentsMidyear}}
          {% else %}
            <p>{{existing_final_evaluation.respect_comment}}</p>
          {% endif %}
          <div class="row">
            {% if form.respectComments.errors %}
              <div role="alert" id="flash-message" style="color:red;">
                {% for error in form.respectComments.errors %}
                  {{ error }}
                {% endfor %}
              </div>
            {% endif %}
          </div>
        </div>
      </div>
      <hr />
      {# end respect #}

      {# begin learning #}
      <h3>{{ form.learning.label }}
        <span class="glyphicon glyphicon-question-sign"
              id="learning-help-icon"
              data-toggle="popover"
              data-html="true"
              data-trigger='hover'
              title="Learning"
              data-content="<ul>
                              <li>Enhances the effectiveness of co-workers and the department by sharing knowledge.</li>
                              <li>Demonstrates an interest in acquiring new skills.</li>
                              <li>Seeks to reflect and understand the value of the position and how it relates to personal development.</li>
                            </ul>"
        </span>
      </h3>
      <div class="row form-check">
        <div class="col-xs-6">
          {% if not existing_final_evaluation and not (existing_midyear_evaluation and not isFinalEvaluationOpen) %}
            {{ form.learning(**{"min":1, "max":20}) }}
          {% endif %}
          <div class = "col-xs-2">
            <p class="h4 values score_bordered" id = "{{form.learning.id}}_value">
              {% if existing_final_evaluation %}
                {{existing_final_evaluation.learning_score}}/20
              {% else %}
                {{form.learning.data}}
              {% endif %}
            </p>
          </div>
          <div class="col-xs-10 alert alert-info" id="learning_help" hidden>The student has met your learning expectations.</div>
        </div>
        <div class="col-xs-6">
          {{form.learningComments.label}}
          {% if not existing_final_evaluation and not (existing_midyear_evaluation and not isFinalEvaluationOpen) %}
            {{form.learningComments}}
          {% endif %}
          {% if existing_midyear_evaluation and not existing_final_evaluation %}
            {{form.learningCommentsMidyear}}
          {% else %}
            <p>{{existing_final_evaluation.learning_comment}}</p>
          {% endif %}
          <div class="row">
            {% if form.learningComments.errors %}
              <div role="alert" id="flash-message" style="color:red;">
                {% for error in form.learningComments.errors %}
                  {{ error }}
                {% endfor %}
              </div>
            {% endif %}
          </div>
        </div>
      </div>
      <hr />
      {# end learning #}

      {# begin jobSpecific #}
      <h3>{{ form.jobSpecific.label }}
        <span class="glyphicon glyphicon-question-sign"
              id="jobSpecific-help-icon"
              data-toggle="popover"
              data-html="true"
              data-trigger='hover'
              title="Job Specific"
              data-content="<ul>
                              <li>The degree to which this student fulfills the basic labor requirements and objectives as set forth in his/her position description.</li>
                            </ul>"
        </span>
      </h3>
      <div class="row form-check">
        <div class="col-xs-6">
          {% if not existing_final_evaluation and not (existing_midyear_evaluation and not isFinalEvaluationOpen) %}
            {{ form.jobSpecific(**{"min":1, "max":20}) }}
          {% endif %}
          <div class="col-xs-2">
            <p class="h4 values score_bordered" id = "{{form.jobSpecific.id}}_value">
              {% if existing_final_evaluation %}
                {{existing_final_evaluation.jobSpecific_score}}/20
              {% else %}
                {{form.jobSpecific.data}}
              {% endif %}
            </p>
          </div>
          <div class="col-xs-10 alert alert-info" id="jobSpecific_help" hidden>The student has met your job specific expectations.</div>
        </div>
        <div class="col-xs-6">
          {{form.jobSpecificComments.label}}
          {% if not existing_final_evaluation and not (existing_midyear_evaluation and not isFinalEvaluationOpen) %}
            {{form.jobSpecificComments}}
          {% endif %}
          {% if existing_midyear_evaluation and not existing_final_evaluation %}
            {{form.jobSpecificCommentsMidyear}}
          {% else %}
            <p>{{existing_final_evaluation.jobSpecific_comment}}</p>
          {% endif %}
          <div class="row">
            {% if form.jobSpecificComments.errors %}
              <div role="alert" id="flash-message" style="color:red;">
                {% for error in form.jobSpecificComments.errors %}
                  {{ error }}
                {% endfor %}
              </div>
            {% endif %}
          </div>
        </div>
      </div>
      <hr />
      {# end jobSpecific #}

      {# begin transcript #}
        <h3>{{ form.transcriptComments.label }}
          <span class="glyphicon glyphicon-question-sign"
                id="jobSpecific-help-icon"
                data-toggle="popover"
                data-html="true"
                data-trigger='hover'
                title="Labor Transcript Comments"
                data-content="<ul>
                                <li>Comments left here will be included on the student's labor transcript, which they might share with future employers.</li>
                              </ul>"
          </span>
        </h3>
        <div class="row form-check">
          <div class="col-xs-6">
          </div>
          <div class="col-xs-6">
            {{form.transcriptComments.label}}
            {% if existing_final_evaluation %}
              <p>{{existing_final_evaluation.transcript_comment}}</p>
            {% else %}
              {{form.transcriptComments}}
            {% endif %}
            <div class="row">
              {% if form.transcriptComments.errors %}
                <div role="alert" id="flash-message" style="color:red;">
                  {% for error in form.transcriptComments.errors %}
                    {{ error }}
                  {% endfor %}
                </div>
              {% endif %}
            </div>
          </div>
        </div>
        <hr />
      {#{% endif %}#}
      {# end transcript #}

      {# begin final #}
      <div class="col-xs-3">
      </div>
      <div class="col-xs-3">
        <p class="text-center">
          <span class="h4">{{laborHistoryForm.formID.studentSupervisee.FIRST_NAME}}'s Overall Score: </span><br />
          <span id="total_value" style="font-size: 200%;"">{{overall_score}}</span> <br />
          <span id="score_text" class="center"></span>
        </p>

      </div>
      {% if not existing_final_evaluation and (not existing_midyear_evaluation or isFinalEvaluationOpen) %}
        {{form.isSubmitted}}
        <div class="btn-group pull-right col-xs-6" role="group">
          {% if not isFinalEvaluationOpen %}
          <div class="row checkbox">
            <label>
               <input type="checkbox" id="submit_as_final" name="submit_as_final"> Submit as a final evaluation (instead of midyear)
             </label>
          </div>
          {% endif %}
          <div class="row">
            <input class="btn btn-lg btn-primary" type="submit" value="Save for Later" id="saveForLater">
            <input class="btn btn-lg btn-success" id="finalSubmitButton" type="submit" value="Submit {{laborHistoryForm.formID.studentSupervisee.FIRST_NAME}}'s {% if not isFinalEvaluationOpen %}Midyear {% else %}Final {% endif %}Evaluation">
          </div>
        </div>
      {% endif %}
    </div>
  </form>
</div>
<div class="col-2">
</div>

{% endblock %}
