{% extends "base.html" %}
{% block scripts %}
  {{super()}}
  <script src="/static/js/studentLaborEvaluation.js?u={{lastStaticUpdate}}"></script>
{% endblock %}

{% block styles %}
  {{super()}}
  <link rel='stylesheet' type="text/css" href='/static/css/studentLaborEvaluation.css?u={{lastStaticUpdate}}' />
{% endblock %}

{% block app_content %}

<div align="center" style="margin-bottom: 50px;">

  <a class="skipContent" href="#condition" tabindex="1">Click to Skip</a>
{#  <div role="alert" id="flash-message" style="color:red;" {% if not form.supervisorName.errors %} hidden {% endif %}>
    {{ error }}
  </div> #}
  <h1> Student Labor Evaluation - {{laborHistoryForm.formID.studentName}} </h1>
</div>

<div class="container col-10">
  <form method="POST">
    <div class="container form-group">
      {{ form.csrf_token }}
      <div class="row">
        <div class="col-sm-6">
          <dl>
            <dt>Department: </dt>
            <dd>{{laborHistoryForm.formID.department.DEPT_NAME}}</dd>
            <dt>Supervisor: </dt>
            <dd>{{laborHistoryForm.formID.supervisor.FIRST_NAME}} {{laborHistoryForm.formID.supervisor.LAST_NAME}}</dd>
            <dt>Student: </dt>
            <dd>{{laborHistoryForm.formID.studentName}}</dd>
          </dl>
        </div>
        <div class="col-sm-6">
          <dl>
            <dt>Term: </dt>
            <dd>{{laborHistoryForm.formID.termCode.termName}}</dd>
            <dt>Job Type (hours): </dt>
            <dd>{{laborHistoryForm.formID.jobType}} ({{laborHistoryForm.formID.weeklyHours}})</dd>
            <dt>Position (WLS): </dt>
            <dd>{{laborHistoryForm.formID.POSN_TITLE}} ({{laborHistoryForm.formID.WLS}})</dd>
          </dl>
        </div>
      </div>
      <hr />

      {# begin attendance #}
      <h3>{{ form.attendance.label }}</h3>
      <div class="row form-check">
        <div class="col-xs-6">
          {% if not existing_final_evaluation and not (existing_midyear_evaluation and not isFinalEvaluationOpen) %}
            {{ form.attendance(**{"min":1, "max":20}) }}
          {% endif %}
          <div class = "col-xs-2">
            <p class="h4 values score_bordered" id = "{{form.attendance.id}}_value">
              {% if existing_final_evaluation %}
                {{existing_final_evaluation.attendance_score}}/20
              {% else %}
                {{form.attendance.data}}
              {% endif %}
            </p>
          </div>
          <div class="col-xs-10 alert alert-info" id="attendance_help" hidden>The student has met your attendance expectations.</div>
        </div>
        <div class="col-xs-6">
          {{form.attendanceComments.label}}
          {% if not existing_final_evaluation and not (existing_midyear_evaluation and not isFinalEvaluationOpen) %}
            {{form.attendanceComments}}
          {% endif %}
          {% if existing_midyear_evaluation and not existing_final_evaluation %}
            {{form.attendanceCommentsMidyear}}
          {% else %}
            <p>{{existing_final_evaluation.attendance_comment}}</p>
          {% endif %}
        </div>
      </div>
      <hr />
      {# end attendance #}

      {# begin accountability #}
      <h3>{{ form.accountability.label }}</h3>
      <div class="row form-check">
        <div class="col-xs-6">
          {% if not existing_final_evaluation and not (existing_midyear_evaluation and not isFinalEvaluationOpen) %}
            {{ form.accountability(**{"min":1, "max":10}) }}
          {% endif %}
          <div class = "col-xs-2">
            <p class="h4 values score_bordered" id = "{{form.accountability.id}}_value">
              {% if existing_final_evaluation %}
                {{existing_final_evaluation.accountability_score}}/10
              {% else %}
                {{form.accountability.data}}
              {% endif %}
            </p>
          </div>
          <div class="col-xs-10 alert alert-info" id="accountability_help" hidden>The student has met your accountability expectations.</div>
        </div>
        <div class="col-xs-6">
          {{form.accountabilityComments.label}}
          {% if not existing_final_evaluation and not (existing_midyear_evaluation and not isFinalEvaluationOpen) %}
            {{form.accountabilityComments}}
          {% endif %}
          {% if existing_midyear_evaluation and not existing_final_evaluation %}
            {{form.accountabilityCommentsMidyear}}
          {% else %}
            <p>{{existing_final_evaluation.accountability_comment}}</p>
          {% endif %}
        </div>
      </div>
      <hr />
      {# end accountability #}

      {# begin teamwork #}
      <h3>{{ form.teamwork.label }}</h3>
      <div class="row form-check">
        <div class="col-xs-6">
          {% if not existing_final_evaluation and not (existing_midyear_evaluation and not isFinalEvaluationOpen) %}
            {{ form.teamwork(**{"min":1, "max":10}) }}
          {% endif %}
          <div class = "col-xs-2">
            <p class="h4 values score_bordered" id = "{{form.teamwork.id}}_value">
              {% if existing_final_evaluation %}
                {{existing_final_evaluation.teamwork_score}}/10
              {% else %}
                {{form.teamwork.data}}
              {% endif %}
            </p>
          </div>
          <div class="col-xs-10 alert alert-info" id="teamwork_help" hidden>The student has met your teamwork expectations.</div>
        </div>
        <div class="col-xs-6">
          {{form.teamworkComments.label}}
          {% if not existing_final_evaluation and not (existing_midyear_evaluation and not isFinalEvaluationOpen) %}
            {{form.teamworkComments}}
          {% endif %}
          {% if existing_midyear_evaluation and not existing_final_evaluation %}
            {{form.teamworkCommentsMidyear}}
          {% else %}
            <p>{{existing_final_evaluation.teamwork_comment}}</p>
          {% endif %}
        </div>
      </div>
      <hr />
      {# end teamwork #}

      {# begin initiative #}
      <h3>{{ form.initiative.label }}</h3>
      <div class="row form-check">
        <div class="col-xs-6">
          {% if not existing_final_evaluation and not (existing_midyear_evaluation and not isFinalEvaluationOpen) %}
            {{ form.initiative(**{"min":1, "max":10}) }}
          {% endif %}
          <div class = "col-xs-2">
            <p class="h4 values score_bordered" id = "{{form.initiative.id}}_value">
              {% if existing_final_evaluation %}
                {{existing_final_evaluation.initiative_score}}/10
              {% else %}
                {{form.initiative.data}}
              {% endif %}
            </p>
          </div>
          <div class="col-xs-10 alert alert-info" id="initiative_help" hidden>The student has met your initiative expectations.</div>
        </div>
        <div class="col-xs-6">
          {{form.initiativeComments.label}}
          {% if not existing_final_evaluation and not (existing_midyear_evaluation and not isFinalEvaluationOpen) %}
            {{form.initiativeComments}}
          {% endif %}
          {% if existing_midyear_evaluation and not existing_final_evaluation %}
            {{form.initiativeCommentsMidyear}}
          {% else %}
            <p>{{existing_final_evaluation.initiative_comment}}</p>
          {% endif %}
        </div>
      </div>
      <hr />
      {# end initiative #}

      {# begin respect #}
      <h3>{{ form.respect.label }}</h3>
      <div class="row form-check">
        <div class="col-xs-6">
          {% if not existing_final_evaluation and not (existing_midyear_evaluation and not isFinalEvaluationOpen) %}
            {{ form.respect(**{"min":1, "max":10}) }}
          {% endif %}
          <div class = "col-xs-2">
            <p class="h4 values score_bordered" id = "{{form.respect.id}}_value">
              {% if existing_final_evaluation %}
                {{existing_final_evaluation.respect_score}}/10
              {% else %}
                {{form.respect.data}}
              {% endif %}
            </p>
          </div>
          <div class="col-xs-10 alert alert-info" id="respect_help" hidden>The student has met your respect expectations.</div>
        </div>
        <div class="col-xs-6">
          {{form.respectComments.label}}
          {% if not existing_final_evaluation and not (existing_midyear_evaluation and not isFinalEvaluationOpen) %}
            {{form.respectComments}}
          {% endif %}
          {% if existing_midyear_evaluation and not existing_final_evaluation %}
            {{form.respectCommentsMidyear}}
          {% else %}
            <p>{{existing_final_evaluation.respect_comment}}</p>
          {% endif %}
        </div>
      </div>
      <hr />
      {# end respect #}

      {# begin learning #}
      <h3>{{ form.learning.label }}</h3>
      <div class="row form-check">
        <div class="col-xs-6">
          {% if not existing_final_evaluation and not (existing_midyear_evaluation and not isFinalEvaluationOpen) %}
            {{ form.learning(**{"min":1, "max":20}) }}
          {% endif %}
          <div class = "col-xs-2">
            <p class="h4 values score_bordered" id = "{{form.learning.id}}_value">
              {% if existing_final_evaluation %}
                {{existing_final_evaluation.learning_score}}/20
              {% else %}
                {{form.learning.data}}
              {% endif %}
            </p>
          </div>
          <div class="col-xs-10 alert alert-info" id="learning_help" hidden>The student has met your learning expectations.</div>
        </div>
        <div class="col-xs-6">
          {{form.learningComments.label}}
          {% if not existing_final_evaluation and not (existing_midyear_evaluation and not isFinalEvaluationOpen) %}
            {{form.learningComments}}
          {% endif %}
          {% if existing_midyear_evaluation and not existing_final_evaluation %}
            {{form.learningCommentsMidyear}}
          {% else %}
            <p>{{existing_final_evaluation.learning_comment}}</p>
          {% endif %}
        </div>
      </div>
      <hr />
      {# end learning #}

      {# begin jobSpecific #}
      <h3>{{ form.jobSpecific.label }}</h3>
      <div class="row form-check">
        <div class="col-xs-6">
          {% if not existing_final_evaluation and not (existing_midyear_evaluation and not isFinalEvaluationOpen) %}
            {{ form.jobSpecific(**{"min":1, "max":20}) }}
          {% endif %}
          <div class="col-xs-2">
            <p class="h4 values score_bordered" id = "{{form.jobSpecific.id}}_value">
              {% if existing_final_evaluation %}
                {{existing_final_evaluation.jobSpecific_score}}/20
              {% else %}
                {{form.jobSpecific.data}}
              {% endif %}
            </p>
          </div>
          <div class="col-xs-10 alert alert-info" id="jobSpecific_help" hidden>The student has met your job specific expectations.</div>
        </div>
        <div class="col-xs-6">
          {{form.jobSpecificComments.label}}
          {% if not existing_final_evaluation and not (existing_midyear_evaluation and not isFinalEvaluationOpen) %}
            {{form.jobSpecificComments}}
          {% endif %}
          {% if existing_midyear_evaluation and not existing_final_evaluation %}
            {{form.jobSpecificCommentsMidyear}}
          {% else %}
            <p>{{existing_final_evaluation.jobSpecific_comment}}</p>
          {% endif %}
        </div>
      </div>
      <hr />
      {# end jobSpecific #}

      {# begin final #}
      <div class="col-xs-5">
      </div>
      <div class="col-xs-3">
        <p class="text-center">
          <span class="h4">{{laborHistoryForm.formID.studentSupervisee.FIRST_NAME}}'s Overall Score: </span><br />
          <span id="total_value" style="font-size: 200%;"">{{overall_score}}</span> <br />
          <span id="score_text" class="center"></span>
        </p>

      </div>
      {% if not existing_final_evaluation and (not existing_midyear_evaluation or isFinalEvaluationOpen) %}
        <div class="pull-right col-xs-4" style="margin-top: 30px;">
          <input class="pull-right btn-lg btn-success" type="submit" value="Submit {{laborHistoryForm.formID.studentSupervisee.FIRST_NAME}}'s {% if not isFinalEvaluationOpen %}Midyear {% else %}Final {% endif %}Evaluation">
        </div>
      {% endif %}
    </div>
  </form>
</div>
<div class="col-2">
</div>

{% endblock %}
