{% extends "base.html" %}

{% block styles %}
{{super()}}
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs/dt-1.10.21/b-1.6.2/datatables.min.css"/>
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename ='css/allPendingForms.css')}}?u={{lastStaticUpdate}}">
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename ='css/pendingNotesModal.css')}}?u={{lastStaticUpdate}}">
{% endblock %}

{% block scripts %}
{{super()}}
  <script type="text/javascript" src="https://cdn.datatables.net/v/bs/dt-1.10.21/b-1.6.2/datatables.min.js"></script>
  <script type="text/javascript" src="{{url_for('static', filename='js/laborhistory.js')}}?u={{lastStaticUpdate}}"></script>
  <script type="text/javascript" src="{{url_for('static', filename='js/allPendingForms.js')}}?u={{lastStaticUpdate}}"></script>
  <script type="text/javascript" src="{{url_for('static', filename='js/supervisorPortal.js') }}?u={{lastStaticUpdate}}"></script>
  <script type="text/javascript" src="{{url_for('static', filename='js/addSupervisorsToDepartment.js') }}?u={{lastStaticUpdate}}"></script>
  <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
  <script>
      var g_currentTerm = {{g.openTerm}};
      var g_currentUser = "{{g.currentUser.supervisor}}";
  </script>

{% endblock %}


{% block app_content %}
<div align="center">
  <h1>Supervisor Portal</h1>
</div>
<br>
<div align="right">
  <button class="btn btn-info" type="button" id="addUserToDept">Add User to Dept.</button>
</div>
<br>
<div class="row col-md-12" align="center">
  <button class="btn btn-primary" type="button" id="mySupervisees">My Current Supervisees</button>
  <button class="btn btn-primary" type="button" id="superviseesPendingForms">My Pending Forms</button>
</div>
<br>
<br>
<div class="container-fluid fs-1" align="center">
  <div id="formSearchAccordion">
    <h1 class="fs-1" data-toggle="collapse">Form Search</h1>
      <div class="card-body" style="overflow:visible">
      <div class="row col-md-12" align="left">
        <br>
        <form id="supervisorPortalForm">
            <div class="col-md-2"></div>  <!-- empty div used for positioning -->
            <div class="col-md-5">
              <div class="form-group">
                <br>
                <label for="termSelect">Term</label>
                <div>
                  <select class="selectpicker" name='term' id='termSelect' data-live-search='true' title="All terms">
                    <option value="">All terms</option>
                    <option value="activeTerms">All Active Terms</option>
                    {% for term in terms %}
                      <option value="{{term.termCode}}">
                        {{term.termCode.termName}}
                      </option>
                    {% endfor %}
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label for="departmentSelect">Department</label>
                <div>
                  <select class="selectpicker" id="departmentSelect" data-live-search='true' title="Department">
                    {% if departments|count != 1 %}
                      <option value="" selected>All departments</option>
                    {% endif %}
                    {% for department in departments %}
                      <!-- We want to either select the first option, or the option that matches the department -->
                      {% if department.isActive %}
                        <option value="{{department.departmentID}}" data-content="{{department.DEPT_NAME}}">
                      {% else %}
                        <option value="{{department.departmentID}}" data-content="<div class='text-muted'>{{department.DEPT_NAME}} <small>--INACTIVE--</small></div>">
                      {% endif %}
                        </option>
                    {% endfor %}
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label for="supervisorSelect">Supervisor</label>
                <div class="dropdown">
                  <select class="selectpicker" name='supervisor' id='supervisorSelect' data-live-search='true' title="All supervisors">
                    <option value="">All supervisors</option>
                    {% for supervisor in supervisors  %}
                    {% if supervisor.isActive %}
                      <option value="{{supervisor.ID}}" data-content="{{supervisor.FIRST_NAME}} {{supervisor.LAST_NAME}} <small class='text-muted'>  ({{supervisor.ID}})</small>">
                    {% else %}
                      <option value="{{supervisor.ID}}" data-content="<div class='text-muted'>{{supervisor.FIRST_NAME}} {{supervisor.LAST_NAME}} <small>({{supervisor.ID}}) --INACTIVE-- </small></div>">
                    {% endif %}
                        {{supervisor.FIRST_NAME}} {{supervisor.LAST_NAME}} 
                      </option>
                    {% endfor %}
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label for="studentSelect">Student</label>
                <div>
                  <select class="selectpicker"name='student' id='studentSelect' data-live-search='true' title="All students">
                    <option value="">All students</option>
                    {% for student in students %}
                      <option value="{{student.ID}}" data-content="{{student.FIRST_NAME}} {{student.LAST_NAME}}<small class='text-muted'> ({{student.ID}})</small>">
                        {{student.FIRST_NAME}} {{student.LAST_NAME}}
                      </option>
                    {% endfor %}
                  </select>
                </div>
              </div>
              <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#collapseSearch" aria-expanded="true" aria-controls="collapseSearch" id="formSearchButton">Search</button>
              <button type="button" class="btn btn-danger" id="clearSelectionsButton">Clear Selections</button>
              <br><br>
            </div>
            <div class="col-md-5">
              <div class="form-group">
                <br>
                <label for="">Limit Form Status</label>
                <div class="form-check">
                  <input class="form-check-input" name="formStatus" type="checkbox" value="Pending" id="pending">
                  <label class="form-check-label" for="pending">
                    Pending  
                  </label> 
                </div>
                <div class="form-check">
                  <input class="form-check-input" name="formStatus" type="checkbox" value="Approved" id="approved">
                  <label class="form-check-label" for="approved">
                    Approved  
                    </label> 
                </div>
                <div class="form-check">
                  <input class="form-check-input" name="formStatus" type="checkbox" value="Approved Reluctantly" id="approvedReluctantly">
                  <label class="form-check-label" for="approvedReluctantly">
                    Approved  Reluctantly
                    </label> 
                </div>
                <div class="form-check">
                  <input class="form-check-input" name="formStatus" type="checkbox" value="Denied" id="denied">
                  <label class="form-check-label" for="denied">
                    Denied
                    </label> 
                </div>
                <div class="form-check">
                  <input class="form-check-input" name="formStatus" type="checkbox" value="Pre-Student Approval" id="student">
                  <label class="form-check-label" for="student">
                    Pre-Student Approval
                    </label> 
                </div>
              </div>
              <div class="form-group">
                <label for="">Limit Form Type</label>
                <div class="form-check">
                  <input class="form-check-input" name="formType" type="checkbox" value="Labor Status Form" id="original">
                  <label class="form-check-label" for="original">
                    <span class="tooltip-right"
                      data-tooltip="Forms that do not cause an overload and are not changes to other forms.">Original
                      <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16">
                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                        <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0"/>
                      </svg>
                    </span>  
                  </label> 
                </div>
                <div class="form-check">
                  <input class="form-check-input" name="formType" type="checkbox" value="Labor Adjustment Form" id="adjusted">
                  <label class="form-check-label" for="adjusted">
                    <span class="tooltip-right"
                      data-tooltip="Forms that modify existing contracts.">Adjusted
                      <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16">
                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                        <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0"/>
                      </svg>
                    </span>
                  </label> 
                </div>
                <div class="form-check">
                  <input class="form-check-input" name="formType" type="checkbox" value="Labor Release Form" id="release">
                  <label class="form-check-label" for="release">
                    <span class="tooltip-right flex"
                      data-tooltip="Forms releasing a student from their positions.">Release
                      <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16">
                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                        <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0"/>
                      </svg>
                    </span>
                  </label> 
                </div>
                <div class="form-check">
                  <input class="form-check-input" name="formType" type="checkbox" value="Labor Overload Form" id="overload">
                  <label class="form-check-label" for="overload">
                    <span class="tooltip-right"
                      data-tooltip="Forms that put students over 15 hours a week.">Overload
                      <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16">
                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                        <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0"/>
                      </svg>
                    </span>
                  </label> 
                </div>
              </div>
            </div>
          </form>
        </div>
        <div style="clear:both"></div>
      </div>
    </div>
  </div>
<br>
<div align="right">
  <form method="POST" action="/supervisorPortal/download">
    <button class="btn btn-success" style="margin-bottom:-46px;" type="submit" id="download">Download</button>
  </form>
</div>
<table id="formSearchTable" class="table table-striped table-bordered pt-3" style="display:none" width="100%">
  <thead>
    <th>Term</th>
    <th>Department</th>
    <th>Supervisor</th>
    <th>Student</th>
    <th>Position (WLS)</th>
    <th>Hrs.</th>
    <th>Length</th>
    <th>Created</th>
    <th>Form Type (Status)</th>
  </thead>
</table>

<!-- Overload Modal -->
<div class="modal fade" id="overloadModal" role="dialog" data-backdrop="true" tabindex="-1" aria-labelledby="overloadModalLabel" aria-describedby="overloadModalBody">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div id="content" class="modal-content">
    </div>
  </div>
</div>
<!-- Release Modal -->
<div class="modal fade" id="modalRelease" data-dismiss="modal" tabindex="-1" role="dialog" aria-labelledby="releaseModalLabel" aria-describedby="releaseModalBody">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div id="content" class="modal-content">
    </div>
  </div>
</div>
<!-- Form History Modal -->
<div class="modal fade" id="modal" role="dialog" data-backdrop="true" tabindex="-1">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div id="content" class="modal-content">
    </div>
  </div>
</div>
{% include "snips/pendingNotesModal.html" %}
{% include "snips/FormsDeny.html" %}
{% include "snips/pendingApprovalModal.html" %}
{% include "snips/addSuperToDeptModal.html" %}

{% endblock %}
