{% extends "base.html" %}

{% block styles %}
{{super()}}
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs/dt-1.10.21/b-1.6.2/datatables.min.css"/>
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename ='css/allPendingForms.css')}}?u={{lastStaticUpdate}}">
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename ='css/pendingNotesModal.css')}}?u={{lastStaticUpdate}}">
{% endblock %}

{% block scripts %}
{{super()}}
  <script type="text/javascript" src="https://cdn.datatables.net/v/bs/dt-1.10.21/b-1.6.2/datatables.min.js"></script>
  <script type="text/javascript" src="{{url_for('static', filename='js/laborhistory.js')}}?u={{lastStaticUpdate}}"></script>
  <script type="text/javascript" src="{{url_for('static', filename='js/allPendingForms.js')}}?u={{lastStaticUpdate}}"></script>
  <script type="text/javascript" src="{{url_for('static', filename='js/supervisorPortal.js') }}?u={{lastStaticUpdate}}"></script>
  <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
  <script>var g_currentTerm = {{g.openTerm}}</script>
  <script>var g_currentUser = "{{g.currentUser.supervisor}}"</script>

{% endblock %}


{% block app_content %}
<div align="center">
  <h1>Supervisor Portal</h1>
</div>
<br>
<div align="right">
  <form method="POST" action="/supervisorPortal/download">
    <button class="btn btn-primary" type="button" id="addUserToDept">Add User to Dept.</button>
    <button class="btn btn-success" type="submit" id="download">Download</button>
  </form>
</div>
<br>
<div class="row col-md-12" align="center">
  <button class="btn btn-primary" type="button" id="mySupervisees">My Current Supervisees</button>
  <button class="btn btn-primary" type="button" id="evaluationsMissing">My Missing Evaluations</button>
  <button class="btn btn-primary" type="button" id="superviseesPendingForms">My Pending Forms</button>
</div>
<br>
<br>
<div class="container-fluid fs-1" align="center">
  <div id="formSearchAccordion">
    <h1 class="fs-1" data-toggle="collapse">Form Search</h1>
      <div class="card-body">
      <div class="row col-md-12" align="left">
        <br>
        <form id="supervisorPortalForm">
            <div class="col-md-2"></div>  <!-- empty div used for positioning -->
            <div class="col-md-5">
              <div class="form-group">
                <br>
                <label for="termSelect">Term</label>
                <div>
                  <select class="selectpicker"
                          name='term'
                          id='termSelect'
                          data-live-search='true'
                          title="All terms">
                    <option value="">All terms</option>
                    {% for term in terms %}
                      <option value="{{term.termCode}}">
                        {{term.termCode.termName}}
                      </option>
                    {% endfor %}
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label for="departmentSelect">Department</label>
                <div><select class="selectpicker"
                        id="departmentSelect"
                        data-live-search='true'
                        title="Department">
                  {% if departments|count != 1%}
                        <option value="" selected>All departments</option>
                  {% endif %}
                  {% for department in departments %}
                       <!-- We want to either select the first option, or the option that matches the department -->
                     <option value="{{department.departmentID}}">{{department.DEPT_NAME}}</option>
                  {% endfor %}
                  
                </select></div>
              </div>
              <div class="form-group">
                <label for="supervisorSelect">Supervisor</label>
                <div class="dropdown"><select class="selectpicker"
                        name='supervisor'
                        id='supervisorSelect'
                        data-live-search='true'
                        title="All supervisors">
                        <option value="">All supervisors</option>
                    {% for supervisor in supervisors  %}
                      <option value="{{supervisor.ID}}"
                              data-content="{{supervisor.FIRST_NAME}} {{supervisor.LAST_NAME}}<small class='text-muted'> ({{supervisor.ID}})</small>">
                        {{supervisor.FIRST_NAME}} {{supervisor.LAST_NAME}}
                      </option>
                    {% endfor %}
                </select></div>
              </div>
              <div class="form-group">
                <label for="studentSelect">Student</label>
                <div><select class="selectpicker"
                        name='student'
                        id='studentSelect'
                        data-live-search='true'
                        title="All students">
                        <option value="">All students</option>
                      {% for student in students %}
                        <option value="{{student.ID}}"
                                data-content="{{student.FIRST_NAME}} {{student.LAST_NAME}}<small class='text-muted'> ({{student.ID}})</small>">
                          {{student.FIRST_NAME}} {{student.LAST_NAME}}
                       </option>
                      {% endfor %}
                </select></div>
              </div>
              <br><br>
              <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#collapseSearch" aria-expanded="true" aria-controls="collapseSearch" id="formSearchButton">Search</button>
              <button type="button" class="btn btn-danger" id="clearSelectionsButton">Clear Selections</button>
              <br><br>
            </div>
            <div class="col-md-5">
              <div class="form-group">
                <br>
                <label for="">Limit Form Status</label>
                <div class="form-check">
                  <input class="form-check-input" name="formStatus" type="checkbox" value="Pending" id="pending">
                  <label class="form-check-label" for="pending">
                    Pending  
                  </label> 
                </div>
                <div class="form-check">
                  <input class="form-check-input" name="formStatus" type="checkbox" value="Approved" id="approved">
                  <label class="form-check-label" for="approved">
                    Approved  
                    </label> 
                </div>
                <div class="form-check">
                  <input class="form-check-input" name="formStatus" type="checkbox" value="Approved Reluctantly" id="approvedReluctantly">
                  <label class="form-check-label" for="approvedReluctantly">
                    Approved  Reluctantly
                    </label> 
                </div>
                <div class="form-check">
                  <input class="form-check-input" name="formStatus" type="checkbox" value="Denied" id="denied">
                  <label class="form-check-label" for="denied">
                    Denied
                    </label> 
                </div>
                <div class="form-check">
                  <input class="form-check-input" name="formStatus" type="checkbox" value="Pre-Student Approval" id="student">
                  <label class="form-check-label" for="student">
                    Pre-Student Approval
                    </label> 
                </div>
              </div>
              <div class="form-group">
                <label for="">Limit Form Type</label>
                <div class="form-check">
                  <input class="form-check-input" name="formType" type="checkbox" value="Labor Status Form" id="original">
                  <label class="form-check-label" for="original">
                    Original  
                  </label> 
                </div>
                <div class="form-check">
                  <input class="form-check-input" name="formType" type="checkbox" value="Labor Adjustment Form" id="adjusted">
                  <label class="form-check-label" for="adjusted">
                    Adjusted
                    </label> 
                </div>
                <div class="form-check">
                  <input class="form-check-input" name="formType" type="checkbox" value="Labor Release Form" id="release">
                  <label class="form-check-label" for="release">
                    Release
                    </label> 
                </div>
                <div class="form-check">
                  <input class="form-check-input" name="formType" type="checkbox" value="Labor Overload Form" id="overload">
                  <label class="form-check-label" for="overload">
                    Overload
                    </label> 
                </div>
              </div>
              <div class="form-group">
                <label for="">Limit Evaluation Status</label>
                <div class="form-check">
                  <input class="form-check-input" name="evaluations" type="checkbox" value="evalMidyearMissing" id="missingMidyearEvaluations">
                  <label class="form-check-label" for="missingMidyearEvaluations">
                    Missing Midyear Evaluations
                  </label> 
                </div>
                <div class="form-check">
                  <input class="form-check-input" name="evaluations" type="checkbox" value="evalMidyearComplete" id="completedMidyearEvaluations">
                  <label class="form-check-label" for="completedMidyearEvaluations">
                    Completed Midyear Evaluations
                    </label> 
                </div>
                <div class="form-check">
                  <input class="form-check-input" name="evaluations" type="checkbox" value="evalMissing" id="missingEvaluations">
                  <label class="form-check-label" for="missingEvaluations">
                    Missing Final Evaluations
                    </label> 
                </div>
                <div class="form-check">
                  <input class="form-check-input" name="evaluations" type="checkbox" value="evalComplete" id="completedEvaluations">
                  <label class="form-check-label" for="completedEvaluations">
                    Completed Final Evaluations
                    </label> 
                </div>
              </div>
            </div>
          </form>
          <br>
        </div>
      </div>
    </div>
  </div>
<br>
<table id="formSearchTable" class="table table-striped table-bordered pt-3" width="100%">
  <thead>
    <th>Term</th>
    <th>Department</th>
    <th>Supervisor</th>
    <th>Student</th>
    <th>Position (WLS)</th>
    <th>Hrs.</th>
    <th>Length</th>
    <th>Created</th>
    <th>Form Type (Status)</th>
  </thead>
</table>

<!-- Overload Modal -->
<div class="modal fade" id="overloadModal" role="dialog" data-backdrop="true" tabindex="-1" aria-labelledby="overloadModalLabel" aria-describedby="overloadModalBody">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div id="content" class="modal-content">
    </div>
  </div>
</div>
<!-- Release Modal -->
<div class="modal fade" id="modalRelease" data-dismiss="modal" tabindex="-1" role="dialog" aria-labelledby="releaseModalLabel" aria-describedby="releaseModalBody">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div id="content" class="modal-content">
    </div>
  </div>
</div>
<!-- Form History Modal -->
<div class="modal fade" id="modal" role="dialog" data-backdrop="true" tabindex="-1">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div id="content" class="modal-content">
    </div>
  </div>
</div>
{% include "snips/pendingNotesModal.html" %}
{% include "snips/FormsDeny.html" %}
{% include "snips/pendingApprovalModal.html" %}
{% include "snips/addSuperToDeptModal.html" %}

{% endblock %}
