@media(min-width:970px) and (max-width:1340px) {
  .container {
      width: 80%;
    }
}

@media(min-width:1340px) and (max-width:1800px) {
  .container {
      width: 55%;
    }
}

@media(min-width:1800px) {
  .container {
      width: 40%;
    }
}

#allocationReviewSubtitle{
  margin-bottom: 30px;
}

.separationLine {
  border: 0; 
  border-top: 1px solid black;
}

#breakHours {
  margin-top: 0px; 
  margin-bottom: 30px;
}

.allocationReviewSection{
  display: flex; 
  flex-direction: row; 
  justify-content: space-between;
}

.positionNumericSpinner {
  width: 45px;
}

.breakHoursNumericSpinner {
  width: 65px;
}

#requestedPositions {
  margin-bottom: -10px;
}

.currentAndAllocated {
  transition-duration: 150ms;
}

.currentAndAllocated:hover {
  color: grey;
}

#allocationReviewNote {
  text-align: center;
  margin: 0 auto; 
  max-width:70%; 
  margin-top: 15px;
  margin-bottom: 15px;
  color: grey;
}

.cancel-or-approve {
  display: flex; 
  flex-direction: row; 
  justify-content: space-between;
}