@media(min-width:970px) and (max-width:1240px) {
  .container {
    width: 80%;
    }
}

@media(min-width:1240px) and (max-width:1800px) {
  .container {
    width: 55%;
    }
}

@media(min-width:1800px) {
  .container {
    width: 40%;
    }
}

#allocationReviewSubtitle{
  margin-bottom: 30px;
}

#breakHours {
  margin-top: 0px; 
}

.numericSpinner {
  width: 55px;
}

#requestedPositions {
  margin-top: 30px; 
  margin-bottom: -10px;
}

.noBorders {
  border: none !important;
}


#allocationJustification {
  margin-top: 30px;
}

.unresizeable {
  resize: none;
}

#allocationReviewNote {
  max-width:70%; 
  color: grey;
}