.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;    
}
.btn-success{
    justify-self:end;
    align-self: center;
    margin-left:8rem;
    width:fit-content;
    height:fit-content
}
.card-header {
  background-color: #efebeb;
  margin-bottom: 7px;
}
.mb-0, .collapsed {
  outline-color: none;
  color: black;
  font-size: 18px;
  font-weight: 525;
}