.float_left {
  float: left;
  width: 47%;
}
.float_right {
  float: right;
  width: 47%;
}
.submit_button {
  float: right;
}
.modal-content{
  margin-top: 250px;
}
.filter-option-inner-inner{
  /* Makes titles black instead of gray */
  color: #000000 !important;
}

.container{
  width: 100%;
}

#datePickerDiv{
  padding: 0;
}

#startDateStyle{
  padding-left: 0;
  margin: 0;
}

#endDateStyle{
  padding-right: 0;
  margin: 0;
}
