h1 {
  text-align: center;
  padding-bottom: 5px;
}

#exampleButton:hover {
  background-color: #5cb85c;
  border-color: #4cae4c;
}

#exampleButton:active {
  background-color: #5cb85c;
  border-color: #4cae4c;
}

.direction{
  height:10px;
  width:20px;
}
.complianceBtn{
  width:140px;
}

#flasher{
	z-index: 999999;
}

#activeDepartmentsTable th,
#activeDepartmentsTable td {
  vertical-align: middle;
  text-align: center;
}