{% extends "base.html" %} {% block styles %} {{super()}}
<link href="https://cdn.datatables.net/v/dt/dt-2.1.6/datatables.min.css" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="/static/css/allocationReview.css?u={{lastStaticUpdate}}" />
{% endblock %} {% block scripts %} {{super()}}
<script src="https://cdn.datatables.net/v/dt/dt-2.1.6/datatables.min.js"></script>
<script type="text/javascript"
  src="{{url_for('static', filename='js/allocationReview.js') }}?u={{lastStaticUpdate}}"></script>
{% endblock %} {% block app_content %}

<h2 align="center">
    <strong>
        Allocation Review
    </strong>
</h2>

<p  align="center" id="allocationReviewSubtitle">
    <strong>
        Review to Confirm an Allocation Request
    </strong>
</p>

<div class="container">
    <p>
        <!-- Requester = Requesting Department -->
        <label for="requestingDepartment">Requester: </label> {{department.DEPT_NAME}} Department
    </p>

    <p>
        <label for="academicYear"">Academic Year: </label> {{nextAY.termName.split(" ")[1]}}
    </p>

    <p>
        <label for="academicYear"">Justification: </label> {{requestedAlloc.justification}}
    </p>
    
    <hr class="separationLine">

    <p>
        <label for="breakHours" id="breakHours">Number of Break Hours: </label>
        <input type="number" name="breakHours" min="0" step="1" value="{{requestedAlloc.breakHours}}" class="breakHoursNumericSpinner"> 
        <small> (requested: {{requestedAlloc.breakHours}}; current: {{currentAlloc.breakHours}})</small> 
    </p>

    <p>
        <label for="requestedPositions" id="requestedPositions">Number of Positions: </label>            
    </p>

    <div class="allocationReviewSection">
        <div>
            <p>
                <small>
                    <b>Primary</b>
                </small>
            </p>

            <p>
                10 hours:&nbsp;
                <input type="number" min="0" step="1" value="{{requestedAlloc.primary_10}}" class="positionNumericSpinner">  
                <small>&nbsp;(requested: {{requestedAlloc.primary_10}}; current: {{currentAlloc.primary_10}})</small>  
            </p>

            <p>
                12 hours:&nbsp;
                <input type="number" min="0" step="1" value="{{requestedAlloc.primary_12}}" class="positionNumericSpinner">  
                <small>&nbsp;(requested: {{requestedAlloc.primary_12}}; current: {{currentAlloc.primary_12}})</small>  
            </p>

            <p>
                15 hours:&nbsp;
                <input type="number" min="0" step="1" value="{{requestedAlloc.primary_15}}" class="positionNumericSpinner">  
                <small>&nbsp;(requested: {{requestedAlloc.primary_15}}; current: {{currentAlloc.primary_15}})</small>  
            </p>
        </div>
        <div> 
            <p>
                <small>
                    <b>Secondary</b>
                </small>
            </p>

            <p>
                5 hours:&nbsp;&nbsp;&nbsp;
                <input type="number" min="0" step="1" value="{{requestedAlloc.secondary_5}}" class="positionNumericSpinner">  
                <small>&nbsp;(requested: {{requestedAlloc.secondary_5}}; current: {{currentAlloc.secondary_5}})</small>  
            </p>

            <p>
                10 hours:&nbsp;
                <input type="number" min="0" step="1" value="{{requestedAlloc.secondary_10}}" class="positionNumericSpinner">  
                <small>&nbsp;(requested: {{requestedAlloc.secondary_10}}; current: {{currentAlloc.secondary_10}})</small>  
            </p>
        </div>
    </div>
    
    <!-- 
    <p>
        <label for="allocationJustification" id="allocationJustification">Justification / Notes: </label>
    </p>
    <textarea class="unresizeable" name="allocationJustification" rows="3" style="width: 100%; margin-bottom: 40px;"> </textarea> 
    -->

    <div class="allocationReviewSection" id="allocationReviewFooter">

        <div align="pull-left" style="width: 70%; margin-top: -5px;">
            <small id="allocationReviewNote">
                *After approving the request, you will not be able to approve it again over the next academic year ({{nextAY.termName.split(" ")[1]}}).  
            </small>
        </div>

        <div class="section">
            <button type="button" class="btn btn-danger"  onclick="">Cancel</button>
            <button type="button" class="btn btn-success" onclick="">Approve</button>
        </div>

    </div>
</div>

{% endblock %}