    {% extends "base.html" %} {% block styles %} {{super()}}
<link href="https://cdn.datatables.net/v/dt/dt-2.1.6/datatables.min.css" rel="stylesheet" />
{% endblock %} {% block scripts %} {{super()}}
<script src="https://cdn.datatables.net/v/dt/dt-2.1.6/datatables.min.js"></script>
<script type="text/javascript"
  src="{{url_for('static', filename='js/positionreview.js') }}?u={{lastStaticUpdate}}"></script>
{% endblock %} {% block app_content %}

<h1>
  {{department.DEPT_NAME}} Position revision 
</h1>

<div>
  <table class="table table-striped table-bordered" id="positionreviewtable">
    <thead>
      <tr>
        <th>
          Position
        </th>
        <th>
          Revision date
        </th>
         <th>
          Review Position
        </th>
      </tr>
    </thead>
    <tbody>
      {% for position in positions %}
      <tr>
        <td>{{position.positionTitle}} <small class="text-muted">({{ position.positionCode }})</small></td>
        <td>{{position.revisionDate}}</td>
        <td><a href="positionreview/{{position.positionCode}}" class="btn btn-primary">Review</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}