{% extends "base.html" %}

{% block scripts %}
{{super()}}
<script src="{{ url_for('static', filename='js/studentConfirmResponse.js') }}"></script>
{% endblock %}

{% block app_content %}

<h2>Confirm Your Work Contract</h2>
<p>Hello {{ lsfForm.studentSupervisee.FIRST_NAME }} {{ lsfForm.studentSupervisee.LAST_NAME }},</p>
<p>Labor Contract Details: </p>

<form action="/studentResponse/submit" method="post">
    <input type="hidden" name="token" value="{{ form.confirmationToken }}">
    <button type="submit" name="decision" value="Accepted" class="btn btn-success">Accept</button>
    <button type="submit" name="decision" value="Denied" class="btn btn-danger">Deny</button>
</form>

{% endblock %}