<!-- start of modal -->
<div class="modal" id="addSupervisorToDeptModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h3 class="modal-title">Add Supervisor to Department</h3>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="supervisorModalSelect">Select a supervisor to add</label>
          <div class="dropdown"><select class="selectpicker"
                  name='supervisor'
                  id='supervisorModalSelect'
                  data-live-search='true'
                  title="All supervisors">
                  <option value="">All supervisors</option>
              {% for supervisor in unfilteredSupervisors  %}
                <option value="{{supervisor.ID}}"
                        data-content="{{supervisor.FIRST_NAME}} {{supervisor.LAST_NAME}}<small class='text-muted'> ({{supervisor.ID}})</small>">
                  {{supervisor.FIRST_NAME}} {{supervisor.LAST_NAME}}
                </option>
              {% endfor %}
          </select></div>
        </div>
        <div class="form-group">
            <label for="departmentModalSelect">Select a department to add the supervisor to.</label>
            <div><select class="selectpicker"
                    id="departmentModalSelect"
                    data-live-search='true'
                    title="Department">
                <option value="" selected>All departments</option>
              {% for department in departments %}
                  <!-- We want to either select the first option, or the option that matches the department -->
                <option value="{{department.departmentID}}">{{department.DEPT_NAME}}</option>
              {% endfor %}
            </select>
            </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" id="addUser" class="btn btn-primary">Add User</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- end of modal -->
