<!-- Modal -->
<div class="modal fade annualAllocationModal" id="annualAllocationModal" tabindex="-1" role="dialog" aria-labelledby="annualAllocationModalLabel" aria-describedby="annualAllocationModalBody">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="annualAllocationModalLabel" align="center"><strong>Annual Allocation Review</strong></h2>
                <p align="center"><strong>Request an Allocation Review from All Departments</strong></p>
                <button type="button" class="close" data-dismiss="modal" onclick="" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="annualAllocationModalBody">
                <p>This will send an email to all Departments to make their requests for the current academic year.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="">Cancel</button>
                <button type="button" class="btn btn-info" onclick="">Edit Email Template</button>
                <button type="button" class="btn btn-primary" onclick="">Submit Request</button>
            </div>
        </div>
    </div>
</div>