<!-- START OF MODAL adding notes -->
<div class="modal fade" id="NotesModal" tabindex="-1" role="dialog" aria-labelledby="notesModalLabel" aria-describedby="noteModalBody">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick= "clearTextArea()"><span aria-hidden="true">&times;</span></button>
        {% if currentUser.isLaborAdmin %}
          <h3 class="modal-title" id="notesModalLabel">Labor Office Notes </h3>
        {% elif currentUser.isFinancialAidAdmin %}
          <h3 class="modal-title" id="notesModalLabel">Financial Aid Office Notes </h3>
        {% elif currentUser.isSaasAdmin %}
          <h3 class="modal-title" id="notesModalLabel">Saas Office Notes </h3>
        {% endif %}
      </div>


      <div class="modal-body" id="noteModalBody">
        <div id="notesDiv">
          <textarea id="laborNotesText" rows="4" cols="70"></textarea>
          <h4 class=" control-label text-left" id="notesLogTitle" for="notesLog">Notes Log:</h4>
              <div style="width:100%;overflow:auto" class="notesLogArea"></div>
        </div>
      </div>


      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" id="closeModal" onclick= "clearTextArea()">Close</button>
        <button type="button" class="btn btn-primary" value="laborNotesText" data-dismiss="modal" id="saveNotes" onclick="notesInsert(this.value, this.id)">Save Notes</button>
      </div>
    </div>
  </div>
</div> {# Move div ending here if tabbing breaks #}
<!-- END OF MODAL -->
