{% block styles %}
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename ='css/studentHistoryModal.css')}}?u={{lastStaticUpdate}}"/>
{% endblock %}

<div class="loader"></div>
<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal">&times;</button>

  <span style="text-align: right;"><button type="button" class="btn btn-default btn col-sm-2" id="print" onclick="fillPDF({{statusForm.laborStatusFormID}})"><span class="glyphicon glyphicon-print"></span> Print</button></span>
  <span class="h3 col-sm-9 modalHeader" id="studentDetails">
      {{statusForm.studentSupervisee.FIRST_NAME}} {{statusForm.studentSupervisee.LAST_NAME}} <a href="mailto:{{statusForm.studentSupervisee.STU_EMAIL}}"><span class="glyphicon glyphicon-envelope mailtoIcon"></span></a>
      <br><span class="h4">{{statusForm.studentSupervisee.ID}}</span>
      {% if statusForm.studentSupervisee.FIRST_NAME + " " + statusForm.studentSupervisee.LAST_NAME != statusForm.studentName %}
      <div class="original-name">Originally filed under "{{statusForm.studentName}}"</div>
      {% endif %}
  </span>
</div>
<div class="modal-body" id="studentLaborDetailsModal">

  <dl class="row">
    <dt class="col-sm-3">Term</dt>
    <dd class="col-sm-9" id="laborTerm">{{statusForm.termCode.termName}}</dd>

    <dt class="col-sm-3">Department (ID)</dt>
    <dd class="col-sm-9" id="laborDepartment">{{statusForm.department.DEPT_NAME}} ({{statusForm.department.ORG}}-{{statusForm.department.ACCOUNT}})</dd>

    <dt class="col-sm-3">Supervisor</dt>
    <dd class="col-sm-9" id="laborSupervisor">{{statusForm.supervisor.FIRST_NAME}} {{statusForm.supervisor.LAST_NAME}} - {{statusForm.supervisor.ID}} <a href="mailto:{{statusForm.supervisor.EMAIL}}"><span class="glyphicon glyphicon-envelope mailtoIcon"></span></a></dd>

    <dt class="col-sm-3">Job Type (Hours)</dt>
    <dd class="col-sm-9" id="laborJobType">{{statusForm.jobType}}
      ({% if statusForm.weeklyHours == None %}{{statusForm.contractHours}}{% else %}{{statusForm.weeklyHours}}{% endif %})
    </dd>

    <dt class="col-sm-3">Position (WLS)</dt>
    <dd class="col-sm-9" id="laborPosition">{{statusForm.POSN_CODE}}  {{statusForm.POSN_TITLE}} ({{statusForm.WLS}})</dd>

    <dt class="col-sm-3">Start Date</dt>
    <dd class="col-sm-9" id="laborStartDate">{{statusForm.startDate.strftime('%m-%d-%Y')}}</dd>

    <dt class="col-sm-3">End Date</dt>
    <dd class="col-sm-9" id="laborEndDate">{{statusForm.endDate.strftime('%m-%d-%Y')}}</dd>
  </dl>

  <hr>
  {% for form in forms %}
    {% if form.adjustedForm == None and form.releaseForm == None and form.overloadForm == None %}
      {% if form.reviewedDate == None %}
        <div class="h4 nopadding">
          <div class="col-sm-3">{{form.createdDate.strftime('%m-%d-%Y')}}</div>
          <div class="col-sm-6 col-sm-offset-1">{{form.historyType}}</div>
          <div class="col-sm-2" align="left">Submitted</div>
        </div>
      {% elif form.reviewedDate != None %}
        <div class="h4 nopadding">
          <div class="col-sm-3">{{form.reviewedDate.strftime('%m-%d-%Y')}}</div>
          <div class="col-sm-6 col-sm-offset-1">{{form.historyType}}</div>
          <div class="col-sm-2" align="left">{{form.status}}</div>
        </div>
        {% if form.status.statusName == "Denied" %}
        <div class="leftMargin">
           <div class="row">
             <p class="control-label col-sm-6 pTag" align="right">Reject Reason: </p>
           <div class="col-sm-6">
             <textarea class="rejectReasonTextArea" rows="3" cols="25" readonly>{{form.rejectReason}}</textarea>
           </div>
           </div>
        </div>
        {% endif %}
        <div class="h4 nopadding">
          <div class="col-sm-3">{{form.createdDate.strftime('%m-%d-%Y')}}</div>
          <div class="col-sm-6 col-sm-offset-1">{{form.historyType}}</div>
          <div class="col-sm-2" align="left">Submitted</div>
        </div>
      {% endif %}

    {% elif form.releaseForm != None %}
      {% if form.reviewedDate == None %}
        <div class="h4 nopadding">
          <div class="col-sm-3">{{form.createdDate.strftime('%m-%d-%Y')}}</div>
          <div class="col-sm-6 col-sm-offset-1">{{form.historyType}}</div>
          <div class="col-sm-2" align="left">Submitted</div>
        </div>
      {% elif form.reviewedDate != None %}
        <div class="h4 nopadding">
          <div class="col-sm-3">{{form.reviewedDate.strftime('%m-%d-%Y')}}</div>
          <div class="col-sm-6 col-sm-offset-1">{{form.historyType}}</div>
          <div class="col-sm-2" align="left">{{form.status}}</div>
        </div>
        {% if form.status.statusName == "Denied" %}
        <div class="leftMargin">
          <div class="row">
            <p class="col-sm-4 pTag">Reject Reason:</p>
          <div class="col-sm-7">
            <textarea class="rejectReasonTextArea" rows="2" cols="45" readonly>{{form.rejectReason}}</textarea>
          </div>
          </div>
        </div>
        {% endif %}
        <div class="h4 nopadding">
          <div class="col-sm-3">{{form.createdDate.strftime('%m-%d-%Y')}}</div>
          <div class="col-sm-6 col-sm-offset-1">{{form.historyType}}</div>
          <div class="col-sm-2" align="left">Submitted</div>
        </div>
      {% endif %}
        <div class="smallDataMargin">
          <div class="row" style="padding-top:5px">
            <p class="col-sm-4 releaseTopRows pTag">Condition at Release:</p>
          <div class="col-sm-7" align="left">
            <p>{{form.releaseForm.conditionAtRelease}}</p>
          </div>
          </div>
          <div class="row">
            <p class="col-sm-4 releaseTopRows pTag" align="left">Release Date:</p>
          <div class="col-sm-7" align="left">
            <p>{{form.releaseForm.releaseDate.strftime('%m-%d-%Y')}}</p>
          </div>
          </div>
          <div class="row">
            <p class="col-sm-4 bottomRows pTag">Reason for release:</p>
          <div class="col-sm-7" align="left">
            <textarea class="releaseReasonTextArea" rows="2" cols="45" readonly>{{form.releaseForm.reasonForRelease}}</textarea>
          </div>
          </div>
        </div>
    {% elif form.adjustedForm != None %}
    {% if form.reviewedDate == None %}
      <div class="h4 nopadding">
        <div class="col-sm-3">{{form.createdDate.strftime('%m-%d-%Y')}}</div>
        <div class="col-sm-6 col-sm-offset-1">{{form.historyType}}</div>
        <div class="col-sm-2" align="left">Submitted</div>
      </div>
    {% elif form.reviewedDate != None %}
      <div class="h4 nopadding">
        <div class="col-sm-3">{{form.reviewedDate.strftime('%m-%d-%Y')}}</div>
        <div class="col-sm-6 col-sm-offset-1">{{form.historyType}}</div>
        <div class="col-sm-2" align="left">{{form.status}}</div>
      </div>
      {% if form.status.statusName == "Denied" %}
      <div class="leftMargin">
        <div class="row">
          <p class="col-sm-4 pTag">Reject Reason:</p>
        <div class="col-sm-7">
          <textarea class="rejectReasonTextArea" rows="2" cols="45" readonly>{{form.rejectReason}}</textarea>
        </div>
        </div>
      </div>
      {% endif %}
      <div class="h4 nopadding">
        <div class="col-sm-3">{{form.createdDate.strftime('%m-%d-%Y')}}</div>
        <div class="col-sm-6 col-sm-offset-1">{{form.historyType}}</div>
        <div class="col-sm-2" align="left">Submitted</div>
      </div>
    {% endif %}
      <div class="row">
        <p class="col-sm-11 smallDataMargin pTag">{{form.adjustedForm.fieldAdjusted}} changed from {{form.adjustedForm.oldValue}} to {{form.adjustedForm.newValue}}</p>
      </div>

    {% elif form.overloadForm != None %}
      {% if form.reviewedDate == None %}
        <div class="h4 overloadBottom">
          <div class="col-sm-3">{{form.createdDate.strftime('%m-%d-%Y')}}</div>
          <div class="col-sm-6 col-sm-offset-1"><span class="glyphicon glyphicon-warning-sign" style="color:orange;font-size:85%"></span> {{form.historyType}}</div>
          <div class="col-sm-2" align="left">Submitted</div>
        </div>
      {% elif form.reviewedDate != None %}
        {% set status = form.status_id %}
        {% if currentUser.isStudent %}
            {% set status = form.status_id.split()[0] %}
        {% endif %}

        <div class="h4 nopadding">
          <div class="col-sm-3">{{form.reviewedDate.strftime('%m-%d-%Y')}}</div>
          <div class="col-sm-6 col-sm-offset-1"><span class="glyphicon glyphicon-warning-sign" style="color:orange;font-size:85%"></span> {{form.historyType}}</div>
          <div class="col-sm-2" align="left">{{status}}</div>
        </div>
        {% if form.status.statusName == "Denied" %}
        <div class="leftMargin">
          <div class="row">
            <p class="col-sm-4 nopadding pTag">Reject Reason:</p>
          <div class="col-sm-7">
            <textarea class="rejectReasonTextArea" rows="2" cols="45" readonly>{{form.rejectReason}}</textarea>
          </div>
          </div>
        </div>
        {% endif %}
        <div class="h4 overloadBottom">
          <div class="col-sm-3">{{form.createdDate.strftime('%m-%d-%Y')}}</div>
          <div class="col-sm-6 col-sm-offset-1"><span class="glyphicon glyphicon-warning-sign" style="color:orange;font-size:85%"></span> {{form.historyType}}</div>
          <div class="col-sm-2" align="left">Submitted</div>
        </div>
      {% endif %}

    {% endif %}

  {% endfor %}

</div>

<div class="modal-footer" id="modalFooter">
    {% if buttonState.num_buttons == 0 %}
    <div class = "col-sm-{{12}}">
      <p style="color:blue;" class="pTag"><span class="glyphicon glyphicon-exclamation-sign"></span><strong> Changes to this form are unavailable currently. Contact the Labor Office if you feel this is an error.</strong></p>
    {% else %}
      <div class = "col-sm-{{12/buttonState.num_buttons}}">

      <a href="#"><button class="btn btn-primary" id="emailLabor">Email Labor</button></a>
      {% if buttonState.rehire %}
        <a id="rehire" href="#"><button type="submit" name="submit" value="submit" class="btn btn-success" onclick="redirection({{statusForm.laborStatusFormID}})">Rehire</button></a>
      {% endif %}
      {% if buttonState.withdraw %}
        <button type="button" class="btn btn-danger"  data-dismiss="modal" onclick = "withdrawform({{statusForm.laborStatusFormID}})">Withdraw</button>
      {% endif %}
      {% if buttonState.correction %}
        <a id="alter" href="#"><button type="button" class="btn btn-info" onclick="redirection({{statusForm.laborStatusFormID}})">Modify</button></a>
      {% endif %}
      {% if buttonState.release %}
        <a id="release" href="#"><button type="button" class="btn btn-danger" onclick="redirection({{statusForm.laborStatusFormID}})">Release</button></a>
      {% endif %}
      {% if buttonState.adjust %}
        <a id="alter" href="#"><button type="button" class="btn btn-info" onclick="redirection({{statusForm.laborStatusFormID}})">Adjustment Form</button></a>
      {% endif %}
      {% if buttonState.evaluate %}
            <a id="sle" href="#">
              <button type="submit" name="submit" value="submit" class="btn btn-warning" onclick="redirection({{statusForm.laborStatusFormID}})"> Evaluate
              </button>
            </a>
          </div>
      {% endif %}
      {% if buttonState.evaluation_exists %}
            <a id="sle" href="#">
              <button type="submit" name="submit" value="submit" class="btn btn-warning" onclick="redirection({{statusForm.laborStatusFormID}})"> Show Evaluation
              </button>
            </a>
          </div>
      {% endif %}
      <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="submitToBanner({{statusForm.laborStatusFormID}})">Submit to Banner</button>      
    {% endif %}

    
    
  </div>




